<div class="header-bottom clearfix">
	<div class="breadcrumbs container">
		<nav class="pull-left row">
			<div class="page-header"><h1>Blog</h1></div>
		</nav>
	</div>
</div>
<div class="loadingPage" ng-show="!post" ng-hide="post">
	Carregando..!
</div>
<div ng-show="post" ng-hide="!post">
	<div class="container blog">
		<div class="tablenav top row">
			<div class="left">
				<h2 class="post_title">{{post.titulo}}</h2>
				<p class="post_meta_bottom">postado em <a>{{post.dtInclusao|toDateStringBrasil}}</a> - <a>{{post.editoria.titulo}}</a></p>
			</div>
		</div>
		<div class="post_single blog_full_width row alternate">
			<div class="post">
				<div class="feutered_image_full_width">
					<a class="post_meta likes-button" target="_blank" ng-click="curtidas($event, post)">
						<span class="fa fa-lg fa-heart"></span><br/>
						<span class="badge" id="curtidas">{{post.curtidas}}</span>
					</a>
					<a ng-href="#/blog/{{post._id}}">
						<img alt="{{post.titulo}}" class="img-responsive" src="portal/_ups/{{post.imagem}}"/>
					</a>
				</div>
				<div class="clearfix"></div>
				<a class="post_meta watched-button hidden-xs" target="_blank">
					<span class="fa fa-lg fa-eye"></span><br/>
					<span class="badge">{{post.visualizacoes}}</span>
				</a>
				<div class="media-body">
					<a class="doc_name" ng-href="#/blog/{{post._id}}" target="_blank">
						<b class="doc_name inline-block">{{post.titulo}}</b><br/>
					</a>
					<p>
						<div ng-bind-html="conteudo"></div>
					</p>
				</div>
			</div>
		</div>
		<div class="tablenav row">
			<div class="pull-left">
				<h2 class="post_title">
					Comentários ({{comentarios.length}})
				</h2>
				<p class="post_meta_bottom">O que os pacientes dizem</p>
			</div>
			<div class="pull-right">
				<a scroll-to="formComentarios" class="btn btn-default add_comment">Adicione um comentário</a>
			</div>
		</div>
		<div id="comments" class="comments-area row">
			<div class="media comments_loop" id="a">
				<div class="comment" ng-repeat="comentario in comentarios">
					<div class="media-body">
						<b class="user_name">{{comentario.nome}}</b>
						<p>
							{{comentario.descricao}}
						</p>
						<p>postado em <a>{{comentario.dtInclusao|toDateStringBrasil}}</a></p>
					</div>
					<div class="divider"></div>
				</div>
			</div>
		</div>
		<div class="tablenav row" id="formComentarios">
			<div class="pull-left">
				<h4 class="comment_form_title">
					Adicionar um Comentário
				</h4>
			</div>
		</div>
		<div class="container comment_form_wrapper row jumbotron">
			<form id="commentform" role="form" name="form" class="comment-form row" autocomplete="off">
				<label class="col-md-6 col-sm-6 col-xs-6 ">Seu Nome<br/>
					<input type="text" class="client_name" id="nome" name="nome" required ng-model="post.comentario.nome" placeholder="Nome" />
				</label>
				<label class="col-md-6 col-sm-6 col-xs-6 pull-right">Seu E-mail<br/>
					<input class="client_email" type="email" ng-model="post.comentario.email" placeholder="E-mail" />
				</label>
				<div class="col-md-12 col-sm-12 col-xs-12">Seu Comentário<br/>
					<textarea cols="3" rows="3" ng-model="post.comentario.descricao" placeholder="Descreva seu comentario aqui" required></textarea>
				</div>
				<div class="col-md-12 col-xs-12 col-sm-12">
					<br />
					<div class="pull-left">
						<button id="botaoEnviar" type="button" ng-click="comentar(post.comentario)" class="btn btn-primary" ng-disabled="form.$invalid">Enviar</button>
					</div>
					<div class="clear"></div>
				</div>
			</form>
		</div>
	</div>
</div>