<div class="header-bottom clearfix">
	<div class="breadcrumbs container">
		<nav class="pull-left row">
			<div class="page-header"><h1>Blog</h1></div>
		</nav>
	</div>
</div>
<div class="loadingPage" ng-show="!blog" ng-hide="blog">
	Carregando..!
</div>
<div ng-show="blog" ng-hide="!blog">
	<div class="container">
		<div class="row">
			<div class="col-md-3 primary-sidebar widget-area" id="primary-sidebar">
				<aside id="recent-posts-2" class="widget widget_recent_entries">
					<h1 class="widget-title">Últimas postagens</h1>
					<ul>
						<li class="media" ng-repeat="ultimosPost in ultimosPosts">
							<a class="media-left" ng-href="#/blog/{{ultimosPost._id}}" style="float:left; width:100%; height:60px;">
								<img class="post_thumbnail" src="portal/_ups/{{ultimosPost.imagem}}"/>
							</a>
							<div class="media-body">
								<h4 class="media-heading">
									<a ng-href="#/blog/{{ultimosPost._id}}" class="post_author">
										{{ultimosPost.titulo}}
									</a>
								</h4>
								{{ultimosPost.chamada|limitTo:40}}
							</div>
						</li>
					</ul>
				</aside>
				<aside id="pages-2" class="widget widget_pages">
					<h1 class="widget-title">Editorias</h1>
					<ul>
						<li class="page_item page-item-17" ng-repeat="editoria in editorias">
							<a class="text-muted">
								<span>{{editoria.titulo}}</span>
							</a>
						</li>
					</ul>
				</aside>
				<aside id="text-2" class="widget widget_text">
					<h1 class="widget-title">Associe-se ao guiadr</h1>
					<div class="textwidget">Ainda tem dúvidas sobre as vantagens em ser associado ao GuiaDr?</div>
				</aside>
			</div>
			<div class="col-md-8  col-md-offset-1">
				<div class="container-fluid blog">
					<div 	infinite-scroll='blog.nextPage()' 
							infinite-scroll-disabled='blog.busy' 
							infinite-scroll-distance='1'>
						<div ng-repeat="post in blog.items">
							<div class="posts-loop blog_full_width row alternate">
								<div class="post">
									<div class="feutered_image_full_width">
										<a class="post_meta likes-button">
											<span class="fa fa-lg fa-heart"></span><br/>
											<span class="badge">{{post.curtidas}}</span>
										</a>
										<a ng-href="#/blog/{{post._id}}">
											<img alt="{{post.titulo}}" class="img-responsive" src="portal/_ups/{{post.imagem}}"/>
										</a>
									</div>
									<div class="clearfix"></div>
									<a class="post_meta watched-button hidden-xs">
										<span class="fa fa-lg fa-eye"></span><br/>
										<span class="badge">{{post.visualizacoes}}</span>
									</a>
									<div class="media-body">
										<a class="doc_name" ng-href="#/blog/{{post._id}}" target="_blank">
											<b class="doc_name inline-block">{{post.titulo}}</b><br/>
										</a>
										<p>{{post.chamada}}</p>
										<p class="post_meta_bottom">postado em <a>{{post.dtInclusao|toDateStringBrasil}}</a> - <a>{{post.editoria.titulo}}</a>
											<a ng-href="#/blog/{{post._id}}" class="btn btn-primary pull-right">Leia Mais</a>
										</p>
									</div>
								</div>
								<div class="clear"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>