<div class="page-content">
    <div class="container-fluid" style="margin-top:15px;">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-sky">
                    <div class="panel-heading">
                        <h2>MENSAGENS</h2>
                        <div class="panel-ctrls pull-left">
                            <i class="separator"></i>
                            {{nomePagina}}
                            <i class="separator"></i>
                            {{totalItems}}
                        </div>
                        <div class="panel-ctrls panel-ctrls-center-sm" style="width:200px;">
                            <div class="input-icon right">
                                <i class="fa fa-fw fa-search"></i>
                                <input type="text" name="table_search" class="input-error form-control input-sm" placeholder="Busca" ng-model="filtro" ng-keyup="search(filtro)" />
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tr>
                                    <th>NOME</th>
                                    <th>E-MAIL</th>
                                    <th>CADASTRADO EM</th>
                                    <th class="text-right">AÇÃO</th>
                                </tr>
                                <tr ng-repeat="registro in registros | filter: filtro">
                                    <td><a ng-href="#/mensagem/{{registro._id}}">{{registro.nome}}</a></td>
                                    <td>{{registro.email}}</td>
                                    <td>{{registro.dtInclusao|toShortDateBrazil}}</td>
                                    <td>
                                        <div class="pull-right">
                                            <a ng-href="#/mensagem/{{registro._id}}" class="btn btn-sm btn-info">
                                                <i class="fa fa-folder"></i>
                                            </a>
                                            <a ng-click="remove(registro)" class="btn btn-sm btn-danger">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-hide="registros.length">
                                    <td colspan="7" class="text-center">
                                        Nenhum Registro Encontrado
                                    </td>
                                </tr>
                            </table>
                            <uib-pagination ng-show="(totalItems > pageSize)" class="pull-right" total-items="totalItems" max-size="maxSize" ng-model="currentPage" ng-change="pageChanged()" items-per-page="pageSize"></uib-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>