<div class="page-content">
    <div class="container-fluid" style="margin-top:15px;">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-sky">
                    <div class="panel-heading">
                        <h2>BLOG</h2>
                        <div class="panel-ctrls pull-left">
                            <i class="separator"></i>
                             {{nomePagina}}
                            <i class="separator"></i>
                        </div>
                        <div class="panel-ctrls pull-right" style="margin-top:-1px; margin-left:5px;">
                            <a ng-href="#/blog" class="btn btn-sm btn-default">
                                <i class="fa fa-arrow-left"></i> VOLTAR PARA A LISTA
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form role="form" name="form" id="wizard" class="form-horizontal row-border" autocomplete="off">
                            <div class="box-body">
                                <ul id="basicwizard-header" class="stepy-header">
                                    <li id="basicwizard-head-0" class="stepy-active" style="cursor: default;">
                                        <div>Informações da Postagem</div>
                                        <span>Insira as informações da postagem</span>
                                    </li>
                                    <li id="basicwizard-head-1" style="cursor: default;">
                                        <div>Imagem</div>
                                        <span>Adicione uma imagem</span>
                                    </li>
                                </ul>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group" style="padding: 8px 12px;">
                                            <label for="nome" class="control-label">Título</label>
                                            <input type="text" class="form-control" id="nome" name="nome" required ng-model="registro.titulo" style="width:95%;" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group" style="padding: 8px 12px 8px 50px;">
                                            <label for="editoria" class="control-label">Editoria</label>
                                            <select id="editoria" class="form-control" ng-model="registro.editoria" ng-options="editoria._id as editoria.titulo for editoria in editorias">
                                                <option value="">== Selecione a Editoria ==</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="chamada" class="control-label">Chamada (Máximo de 250 caracteres). Total: {{wordCountChamada}}</label>
                                            <textarea maxlength="250" class="form-control textAreaAutoSize" required ng-model="registro.chamada"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="conteudo" class="control-label">Conteúdo</label>
                                            <div ng-cloak ng-hide="isReady" class="highlight">
                                                Inicializando...
                                            </div>
                                            <div ng-cloak ng-show="isReady">
                                                <textarea ckeditor="editorOptions" name="editor" ng-model="registro.conteudo"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="panel-footer">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <button id="botaoSalvar" type="button" ng-click="salva()" class="btn btn-info pull-right" ng-disabled="form.$invalid">
                                                        Avançar
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>