<div class="header-bottom clearfix">
	<div class="breadcrumbs container">
		<nav class="pull-left row">
			<div class="page-header"><h1>Perfil do Profissional</h1></div>
		</nav>
	</div>
</div>
<div class="loadingPage" ng-show="!profissional" ng-hide="profissional">
	Carregando..!
</div>
<div ng-show="profissional" ng-hide="!profissional">
	<div class="container doctor_profile">
		<div class="profile row ">
			<div class="col-md-4 col-sm-3 col-xs-6 profile_thumb">
				<a class="doc_name" href="doctor_profile.html" target="_blank">
					<img alt="{{profissional.nome}}" src="portal/_ups/{{profissional.imagem}}" class="img-responsive" style="width:287px; height:182px;" />
				</a>
			</div>
			<div class="col-md-8" style="height:182px;">
				<div class="col-md-6 doc_name" >
					<h3 class="doc_name inline-block">{{profissional.nome|uppercase}}</h3> <br />
					Registro nº: {{profissional.info.numreg}}
				</div>
				<div class="col-md-6 hidden-sm hidden-xs soc_display pull-right ">
					<div class="profile social text-justify pull-right">
						<div class="custom-facebook-button" ng-show="profissional.email">
							<a class="facebook-button fa fa-lg fa-envelope-o" href="mailto:{{profissional.email}}" target="_blank"></a>
						</div>
						<div class="custom-tweet-button" ng-show="profissional.redesociais.twitter">
							<a class="twitter-button fa fa-lg fa-twitter" href="{{profissional.redesociais.twitter}}" target="_blank"></a>
						</div>
						<div class="custom-linkedin-button" ng-show="profissional.redesociais.linkedin">
							<a class="linkedin-button fa fa-lg fa-linkedin" href="{{profissional.redesociais.linkedin}}" target="_blank"></a>
						</div>
						<div class="custom-facebook-button" ng-show="profissional.redesociais.facebook">
							<a class="facebook-button fa fa-lg fa-facebook" href="{{profissional.redesociais.facebook}}" target="_blank"></a>
						</div>
					</div>
				</div>
				<div class="col-md-12 paragraph">
					<h4> Informação Profissional </h4>
					<p class="vertical_interval_two">
						{{profissional.info.descricao}}
					</p>
				</div>
			</div>
			<div class="col-md-7 paragraph">
				<h4> Educação </h4>
				<p class="vertical_interval_two">
					{{profissional.info.educacao}}
				</p>
				<div ng-show="(totalEspecialidade > 0)">
					<h4> Especialidades </h4>
					<div class="row">
						<ul class="col-md-4 practice_list">
							<li ng-repeat="especialidade in especialidades1">
								<i class="fa fa-check"></i>
								<span>{{especialidade.titulo}}</span>
							</li>
						</ul>
						<ul class="col-md-5 practice_list">
							<li ng-repeat="especialidade in especialidades2">
								<i class="fa fa-check"></i>
								<span>{{especialidade.titulo}}</span>
							</li>
						</ul>
					</div>
				</div>
				<div ng-show="(totalHabilidade > 0)">
					<h4> Habilidades </h4>
					<div class="row">
						<ul class="col-md-4 practice_list">
							<li ng-repeat="habilidade in habilidades1">
								<i class="fa fa-check"></i>
								<span>{{habilidade.titulo}}</span>
							</li>
						</ul>
						<ul class="col-md-5 practice_list">
							<li ng-repeat="habilidade in habilidades2">
								<i class="fa fa-check"></i>
								<span>{{habilidade.titulo}}</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-5 hidden-sm clearfix">
				{{enderecoMapa|getMapsFromLatLong:profissional.nome}}
				<div id="map" style="width:350px; height:200px;"></div>
				<br />
				<div ng-repeat="endereco in profissional.endereco">
					<div class="doc_location left">
						<address class="left">
							<span class="left fa fa-lg fa-map-marker"></span>
							{{endereco.logradouro.titulo|uppercase}}, {{endereco.numero}}, {{endereco.bairro.titulo|uppercase}}, {{endereco.cidade.titulo|uppercase}}, {{endereco.estado.titulo|uppercase}}/{{endereco.pais.titulo|uppercase}}, {{endereco.logradouro.cep}}
						</address>
					</div>
					<br />
				</div>
				<div class="pull-right book_or_add">
					<a href="javascript:void(0)" scroll-to="formAgendamento" class="btn btn-primary" ng-click="tabs=2">Agende</a>
					<a href="javascript:void(0)" scroll-to="add_review_wrapper" class="btn btn-default btn-inline" ng-click="abrirFormComentario()">Comentar</a>
				</div>
			</div>
			<div id="add_review_wrapper" class="col-lg-12 paragraph">
				<h4 class="login_form_header">Deixe um comentário</h4>
				<div class="jumbotron">
					<form id="commentform" role="form" name="form" class="comment-form row" autocomplete="off">
						<div>
							<label>Nome<br/>
								<input class="client_name" type="text" required ng-model="profissional.comentario.nome" placeholder="Seu Nome" />
							</label>
							<br/>
							<label>E-mail<br/>
								<input class="client_name" type="email" required ng-model="profissional.comentario.email" placeholder="Seu E-mail" />
							</label>
							<br/>
							<label>Mensagem<br/>
								<textarea cols="10" rows="5" required ng-model="profissional.comentario.descricao" placeholder="Escreva sua mensagem aqui"></textarea>
							</label><br/><br/>
							<button id="botaoEnviarComentario" type="button" ng-click="comentar(profissional.comentario)" class="btn pull-right btn-default submit_review" ng-disabled="form.$invalid">Enviar</button>
						</div>
						<div class="clear"></div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="container doctor_controls" id="formAgendamento">
		<div class="row">
			<nav>
				<ul class="nav nav-tabs">
					<li ng-class="{'active':tabs==1}" ng-click="tabs=1">
						<a data-toggle="tab">Comentários</a>
					</li>
					<li ng-class="{'active':tabs==2}" ng-click="tabs=2">
						<a data-toggle="tab">Agendar</a>
					</li>
				</ul>
			</nav>
			<div class="tab-content horizontal">
				<div class="tab-pane media fade in reviews" id="reviews" ng-class="{'active':tabs==1}" ng-show="tabs==1">
					<div class="comment" ng-repeat="comentario in comentarios">			
						<div class="media-body">
							<div class="row">
								<b class="doc_name col-md-2">{{comentario.nome}}</b>
							</div>
							<p>{{comentario.descricao}}</p>
							<p>Postado em <a> {{comentario.dtInclusao|toDateStringBrasil}} </a></p>
						</div>
						<div class="clear"></div>
						<div class="divider"></div>
					</div>
				</div>
				<form class="tab-pane active fade in book" id="book" ng-class="{'active':tabs==2}" ng-show="tabs==2">
					<div class="row book_section" ng-hide="isDisponivel">
						<div class="col-md-12 col-sm-12">
							<div class="row">
								<label class="col-md-12">
									<div class="jumbotron">
										<div class="container">
											<h2 class="text-center">Agenda Indisponível</h2>
											<p class="text-center">Este(a) especialista ainda não abriu a agenda.</p>
										</div>
									</div>
								</label>
							</div>
						</div>
					</div>
					<div class="row book_section" ng-class="{'hidden':tabAgendamento!=1}" ng-show="tabAgendamento==1" ng-hide="!isDisponivel">
						<div class="btn-group hidden-xs btn-breadcrumb">
							<div class="btn btn-crumb active"><span>Dados do agendamento</span></div>
							<div class="btn btn-crumb"><span>Dados do Paciente</span></div>
							<div class="btn btn-crumb"><span>Confirmação</span></div>
							<div class="btn btn-crumb"><span>Pagamento</span></div>
						</div>
						<div class="col-md-12 col-sm-12">
							<div class="row">
								<label class="col-md-6 col-sm-6 col-xs-6">Tipo de Agendamento<br/>
									<select class="select2To" ng-model="agendamento.tipo" required>
										<option value="Consulta" selected="selected">Consulta</option>
										<option value="Retorno">Retorno</option>
									</select>
								</label>
								<label class="col-md-6 col-sm-6 col-xs-6">Já se consultou antes com este(a) especialista?<br/>
									<select class="select2To" ng-model="agendamento.primeira" required>
										<option value="Não">Não</option>
										<option value="Sim">Sim</option>
									</select>
								</label>
							</div>
							<div class="row">
								<label class="col-md-6 col-sm-6 col-xs-6">Tem seguro de saúde<br/>
									<select class="select2To" ng-model="agendamento.seguro" required>
										<option value="Não">== Não ==</option>
										<option value="Amil">Amil</option>
										<option value="Bradesco">Bradesco</option>
										<option value="Porto Seguro">Porto Seguro</option>
										<option value="Unimed Brasil">Unimed Brasil</option>
										<option value="Medmais">Medmais</option>
									</select>
								</label>
								<label class="col-md-6 col-sm-6 col-xs-6">Escolha a data<br/>
									<select class="select2To" ng-model="agendamento.data" ng-options="disponibilidade as disponibilidade|toConcatDataDisponibilidade for disponibilidade in disponibilidades" ng-change="getEspecialidade(agendamento)" required>
									</select>
								</label>
							</div>
							<div class="row">
								<label class="col-md-6 col-sm-6 col-xs-6">Qual o motivo de sua consulta?<br/>
									<select class="select2To" ng-model="agendamento.categoria" ng-options="categoria as categoria.titulo for categoria in categorias" required>
									</select>
								</label>
								<label class="col-md-6 col-sm-6 col-xs-6">Escolha o horário<br/>
									<select class="select2To" ng-model="agendamento.horario" ng-options="horario as horario.hora for horario in horarios" required>
									</select>
								</label>
							</div>
							<div class="row">
								<button type="submit" class="btn btn-primary pull-right" ng-click="tabAgendamento=2">Continuar <i class="fa fa-arrow-right"></i></button>
							</div>
						</div>
					</div>
					<div class="row book_section" ng-class="{'hidden':tabAgendamento!=2}" ng-show="tabAgendamento==2">
						<div class="btn-group hidden-xs btn-breadcrumb">
							<div class="btn btn-crumb active"><span>Dados do agendamento</span></div>
							<div class="btn btn-crumb active"><span>Dados do Paciente</span></div>
							<div class="btn btn-crumb"><span>Confirmação</span></div>
							<div class="btn btn-crumb"><span>Pagamento</span></div>
						</div>
						<div class="row">
							<div class="col-lg-6">
								<ul class="select_appointment">
									<li>Já usou o GuiaDr antes?</li>
									<li>
										<label>
											<input type="radio" name="select_appointment" value="1" ng-model="uso" />
											Sim, algum tempo atrás.
										</label>
									</li>
									<li>
										<label>
											<input type="radio" name="select_appointment" value="0" ng-model="uso" />
											Não, nunca usei antes
										</label>
									</li>
								</ul>
							</div>
							<div class="col-lg-6" ng-show="uso==1">
								<h4 class="login_form_header">Entre com seus dados!</h4>
								<b><small>Por favor, insira seu e-mail e senha</small></b>
								<div class="jumbotron">
									<label>
										Seu E-mail<br/>
										<input class="client_name" type="text" placeholder="E-mail" ng-model="agendamento.login.email" />
									</label>
									<label>
										Sua Senha<br/>
										<input class="client_name" type="password" placeholder="Senha" ng-model="agendamento.login.senha" />
									</label>
									<br/><br/>
									<div class="pull-right">
										<button class="btn btn-default" ng-click="tabAgendamento=1"> <i class="fa fa-arrow-left"></i> Voltar</button>
										<button id="btnLogin" class="btn btn-default" ng-click="agendamentoLoginUser(agendamento.login)">Continuar <i class="fa fa-arrow-right"></i></button>
									</div>
									<div class="clear"></div>
								</div>
							</div>						
							<div class="col-lg-6" ng-show="uso==0">
								<h4 class="login_form_header">Bem-vindo ao GuiaDr!</h4>
								<b><small>Crie sua conta. Insira seus dados e cadastre-se</small></b>
								<div class="jumbotron">
									<label>
										Seu Nome<br/>
										<input class="client_name" type="text" placeholder="Nome" ng-model="agendamento.cadastro.nome" />
									</label>
									<label>
										Seu E-mail<br/>
										<input class="client_name" type="text" placeholder="E-mail" ng-model="agendamento.cadastro.email" />
									</label>
									<label>
										Sua Senha<br/>
										<input class="client_name" type="password" placeholder="Senha" ng-model="agendamento.cadastro.senha" />
									</label>
									<label>
										<input class="client_name" type="checkbox" ng-model="agendamento.cadastro.termos" /> Aceito os Termos de Uso
									</label>
									<br/><br/>
									<div class="pull-right">
										<button class="btn btn-default" ng-click="tabAgendamento=1"> <i class="fa fa-arrow-left"></i> Voltar</button>
										<button id="btnCadastro" class="btn btn-primary" ng-click="agendamentoCadastroUser(agendamento.cadastro)">Cadastrar</button>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="row book_section" ng-class="{'hidden':tabAgendamento!=3}" ng-show="tabAgendamento==3">
						<div class="btn-group hidden-xs btn-breadcrumb">
							<div class="btn btn-crumb active"><span>Dados do agendamento</span></div>
							<div class="btn btn-crumb active"><span>Dados do Paciente</span></div>
							<div class="btn btn-crumb active"><span>Confirmação</span></div>
							<div class="btn btn-crumb"><span>Pagamento</span></div>
						</div>
						<div class="row">
							<div class="col-lg-6">
								<ul class="select_appointment">
									<li><h4>Dados do Agendamento:</h4></li>
									<li><b>Data:</b> <span> {{agendamento.data|toShortDateBrazil}} às {{agendamento.horario.hora}}</span></li>
									<li><b>Tipo:</b> <span>{{agendamento.tipo}}</span></li>
									<li><b>Primeiro(a) {{agendamento.tipo}}:</b> <span>{{agendamento.primeira}}</span></li>
									<li><b>Motivo:</b> <span>{{agendamento.categoria.titulo}}</span></li>
									<li><b>Tem seguro de saúde:</b> <span>{{agendamento.seguro}}</span></li>
								</ul>
							</div>
							<div class="col-lg-6">
								<ul class="select_appointment">
									<li><h4>Dados do(a) Paciente:</h4></li>
									<li>
										<span>Nome: {{dataUsuario.nome}}</span>
									</li>
									<li>
										<span>E-mail: {{dataUsuario.email}}</span>
									</li>
								</ul><br/><br/>
								<div class="pull-right">
									<button class="btn btn-default" ng-click="tabAgendamento=4">Continuar <i class="fa fa-arrow-right"></i></button>
								</div>
								<div class="clear"></div>
							</div>
						</div>
					</div>
					<div class="row book_section" ng-class="{'hidden':tabAgendamento!=4}" ng-show="tabAgendamento==4">
						<div class="btn-group hidden-xs btn-breadcrumb">
							<div class="btn btn-crumb active"><span>Dados do agendamento</span></div>
							<div class="btn btn-crumb active"><span>Dados do Paciente</span></div>
							<div class="btn btn-crumb active"><span>Confirmação</span></div>
							<div class="btn btn-crumb active"><span>Pagamento</span></div>
						</div>
						<div class="row">
							<div class="col-md-12 col-lg-12">
								<div class="row pricing-table-1-container pricing-info"> 
									<div class="col-md-4">
										<div class="pricing-box hover-effect">
											<div class="pricing-head">
												<h3 class="pricing-head-title">Trimestral</h3>
												<h4><i>R$</i>40<i>,00</i><span>Mês</span></h4>
											</div>
											<ul class="pricing-content list-unstyled">
												<li>Agenda Ilimitada</li>
												<li>Pacientes Ilimitados</li>
												<li>Controle de Consultas</li>
											</ul>
											<div class="pricing-footer">
												<p>Suporte 24 / 7 pelo telefone (84) 9999-9999</p>
												<button class="btn btn-default btn-block" ng-click="definirPlano(1)">Escolher</button>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="pricing-box pricing-active hover-effect">
											<div class="pricing-head">
												<h3 class="pricing-head-title">Semestral</h3>
												<h4><i>R$</i>35<i>,00</i><span>Mês</span></h4>
											</div>
											<ul class="pricing-content list-unstyled">
												<li>Agenda Ilimitada</li>
												<li>Pacientes Ilimitados</li>
												<li>Controle de Consultas</li>
											</ul>
											<div class="pricing-footer">
												<p>Suporte 24 / 7 pelo telefone (84) 9999-9999</p>
												<button class="btn btn-default btn-block" ng-click="definirPlano(2)">Escolher</button>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="pricing-box hover-effect">
											<div class="pricing-head">
												<h3 class="pricing-head-title">Anual</h3>
												<h4><i>R$</i>30<i>,00</i><span>Mês</span></h4>
											</div>
											<ul class="pricing-content list-unstyled">
												<li>Agenda Ilimitada</li>
												<li>Pacientes Ilimitados</li>
												<li>Controle de Consultas</li>
											</ul>
											<div class="pricing-footer">
												<p>Suporte 24 / 7 pelo telefone (84) 9999-9999</p>
												<button class="btn btn-default btn-block" ng-click="definirPlano(3)">Escolher</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row book_section" ng-class="{'hidden':tabAgendamento!=5}" ng-show="tabAgendamento==5">
						<div class="btn-group hidden-xs btn-breadcrumb">
							<div class="btn btn-crumb active"><span>Dados do agendamento</span></div>
							<div class="btn btn-crumb active"><span>Dados do Paciente</span></div>
							<div class="btn btn-crumb active"><span>Especificações</span></div>
							<div class="btn btn-crumb active"><span>Pagamento</span></div>
						</div>
						<div class="row">
						<h4>O pagamento foi efetuado com sucesso!</h4>
						<p>Seu agendamento está em processamento. Em pouco tempo entraremos em contato para confirmar. Obrigado por nos escolher!</p>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>