<div class="header-bottom clearfix">
	<div class="breadcrumbs container">
		<nav class="pull-left row">
			<div class="page-header"><h1>Nossos Especialistas</h1></div>
		</nav>
	</div>
</div>
<div class="loadingPage" ng-show="!profissionais" ng-hide="profissionais">
	Carregando..!
</div>
<div ng-show="profissionais" ng-hide="!profissionais">
	<div class="container staff">
		<div class="profiles-loop row">
			<div 	infinite-scroll='profissionais.nextPage()' 
					infinite-scroll-disabled='profissionais.busy' 
					infinite-scroll-distance='30'>
				<div ng-repeat='item in profissionais.items'>
					<div class="post profile row" id="p_{{item._id}}">
						<div class="col-md-3 col-sm-4 col-xs-12 profile_thumb">
							<a class="doc_name" ng-href="#/profissional/{{item._id}}">
								<img alt="{{item.nome}}" src="/portal/_ups/{{item.imagem}}" class="img-responsive"/>
							</a>
							<div class="profile social text-justify hidden-xs">
								<div class="custom-facebook-button" ng-show="item.redesociais.facebook">
									<a class="facebook-button fa fa-lg fa-facebook" href="{{item.redesociais.facebook}}"></a>
								</div>
								<div class="custom-linkedin-button" ng-show="item.redesociais.linkedin">
									<a class="linkedin-button fa fa-lg fa-linkedin" href="{{item.redesociais.linkedin}}" target="_blank"></a>
								</div>
								<div class="custom-tweet-button" ng-show="item.redesociais.twitter">
									<a class="twitter-button fa fa-lg fa-twitter" href="{{item.redesociais.twitter}}"></a>
								</div>
								<div class="custom-facebook-button" ng-show="item.email">
									<a class="facebook-button fa fa-lg fa-envelope-o" href="{{item.email}}"></a>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-8">
							<a class="doc_name" ng-href="#/profissional/{{item._id}}">
								<b class="doc_name">{{item.nome|uppercase}}</b>
							</a><br/>
							<small class="doc_spec">{{item.especialidade[0].titulo}}</small><br/><br/>
							<p> {{item.info.descricao}} </p>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12 hidden-xs stars_display left">
							<div class="doc_location left">
								<span class="left fa fa-lg fa-map-marker"></span>
								<address class="right">
									{{item.endereco[0].logradouro.titulo|uppercase}}, {{item.endereco[0].numero}}, {{item.endereco[0].bairro.titulo|uppercase}} <br/>{{item.endereco[0].cidade.titulo|uppercase}}/{{item.endereco[0].pais.titulo|uppercase}}
		                        </address>
							</div>
						</div>
						<div class="col-md-2 col-sm-4 col-xs-12 pull-right">
							<a href="#/profissional/{{item._id}}" class="btn btn-primary col-xs-12 col-sm-2 right">Ver Perfil</a>
						</div>
					</div>
					<div class="clear"></div>
					<div class="divider"></div>
				</div>
			</div>
		</div>
	</div>
</div>