<div class="page-heading">
    <h1></h1>
</div>
<div class="container-fluid">
	<div data-widget-group="group">
		<div class="row">
			<div class="col-md-3">
				<a class="shortcut-tile tile-inverse" ng-href="#/contato">
					<div class="tile-body">
						<div class="pull-left"><i class="fa fa-envelope"></i></div>
						<div class="pull-right"><span class="badge">{{totalContato}}</span></div>
					</div>
					<div class="tile-footer">
						Contatos
					</div>
				</a>
			</div>
			<div class="col-md-2">
				<a class="shortcut-tile tile-info" ng-href="#/profissional">
					<div class="tile-body">
						<div class="pull-left"><i class="fa fa-users"></i></div>
						<div class="pull-right"><span class="badge">{{totalProfissional}}</span></div>
					</div>
					<div class="tile-footer">
						Profissionais
					</div>
				</a>
			</div>
			<div class="col-md-2">
				<a class="shortcut-tile tile-sky" ng-href="#/clinica">
					<div class="tile-body">
						<div class="pull-left"><i class="fa fa-home"></i></div>
						<div class="pull-right"><span class="badge">{{totalClinica}}</span></div>
					</div>
					<div class="tile-footer">
						Clínicas
					</div>
				</a>
			</div>
			<div class="col-md-2">
				<a class="shortcut-tile tile-midnightblue" ng-href="#/blog">
					<div class="tile-body">
						<div class="pull-left"><i class="fa fa-pencil-square-o"></i></div>
						<div class="pull-right"><span class="badge">{{totalBlog}}</span></div>
					</div>
					<div class="tile-footer">
						Blog
					</div>
				</a>
			</div>
			<div class="col-md-3">
				<a class="shortcut-tile tile-brown" ng-href="#/mensagem">
					<div class="tile-body">
						<div class="pull-left"><i class="fa fa-envelope"></i></div>
						<div class="pull-right"><span class="badge">{{totalMensagem}}</span></div>
					</div>
					<div class="tile-footer">
						Mensagem
					</div>
				</a>
			</div>
		</div>
	</div>
</div>