<div class="header-bottom clearfix">
	<div class="breadcrumbs container">
		<nav class="pull-left row">
			<div class="page-header"><h1>Contato</h1></div>
		</nav>
	</div>
</div>
<div class="container about_us">
	<div class="row">
		<div class="col-md-12">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.555247553698!2d-46.64530248491629!3d-23.5844117683292!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce598f3257bf23%3A0x1bf6e224ea06407c!2sAv.+Conselheiro+Rodrigues+Alves%2C+539+-+Vila+Mariana%2C+S%C3%A3o+Paulo+-+SP%2C+04014-011!5e0!3m2!1spt-BR!2sbr!4v1459392166858" width="900" height="230" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 location">
			<h4>Localização</h4>
			<div class="contacts">
				<div><b>Telefone: </b><span class="text-muted">+55 (11) 2361-2044</span></div>
				<div><b>Email: </b><a href="mailto:contato@guiadr.com.br" class="text-muted">contato@guiadr.com.br</a></div>
				<div><b style="vertical-align:top;">Endereço: </b><address class="text-muted" style="margin-bottom:0px;">Av Conselheiro Rodrigues Alves, 539, j134<br />Vila Mariana, Sao Paulo, SP, CEP 04014-011, Brasil</address></div>
			</div>
		</div>
		<div class="col-md-6 contact_form">
			<h4>Formulário de Contato</h4>
			<form role="form" name="form" class="row" autocomplete="off">
				<div>
					<label class="col-md-6 col-sm-6 col-xs-6">Seu Nome<br/>
						<input type="text" class="client_name" id="nome" name="nome" required ng-model="registro.nome" placeholder="Nome" />
					</label>
					<label class="col-md-6 col-sm-6 col-xs-6 pull-right">Seu E-mail<br/>
						<input class="client_email" type="email" ng-model="registro.email" placeholder="E-mail"/>
					</label>
					<div class="col-md-12 col-xs-12 col-sm-12">Sua Mensagem<br/>
						<textarea cols="3" rows="3" ng-model="registro.mensagem" placeholder="Descreva sua mensagem aqui" required></textarea>
					</div>
					<div class="col-md-12 col-xs-12 col-sm-12">
						<br />
						<div class="pull-left">
							<button id="botaoEnviar" type="button" ng-click="envia()" class="btn btn-primary" ng-disabled="form.$invalid">Enviar</button>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>