<div class="header-bottom clearfix">
  <div class="breadcrumbs container">
    <nav class="pull-left row">
      <div class="page-header"><h1>{{titulo}}</h1></div>
    </nav>
  </div>
</div>
<div class="widgets-area">
  <div class="jumbotron">
    <div class="container page_404">
      <h2 id="text_404">{{numero}}</h2>
      <p class="text-center">
        <small>{{descricao}}</small>
      </p>
      <a href="#/home" class="home_from_404 thumbnail text-center">
        <span class="pull-left media" >
          <span class="media-object fa fa-lg fa-home"></span>
        </span>
        <span class="media-body">
          <span class="text-center text-muted">Ir para a página inicial</span>
        </span>
      </a>
    </div>
  </div>
</div>