<wrap-owlcarousel class="owl-carousel" data-options="{items:1, center:true, loop:false, margin:1, autoplayTimeout:4000, autoplay:false, autoplayHoverPause:true}" id="slider">
</wrap-owlcarousel>

<stickers></stickers>

<div class="widgets-area">
  <div class="container features">
    <div class="page-header">
      <h3>O que nós podemos fazer por você</h3>
      <p>Facilite sua vida com o GuiaDr</p>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12 media">
        <a class="pull-left">
          <span class="media-object fa fa-lg fa-male"></span>
        </a>
        <div class="media-body">
          <h4 class="media-heading">Encontre os melhores Profissionais</h4>
          Mais de 5.000 profissionais de saúde cuidadosamente selecionados para você agendar sua consulta.
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 media">
        <a class="pull-left">
          <span class="media-object fa fa-lg fa-eye"></span>
        </a>
        <div class="media-body">
          <h4 class="media-heading">Agende seu Exame</h4>
          Agende seu atendimento nos melhores laboratórios da região.
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 media">
        <a class="pull-left">
          <span class="media-object fa fa-lg fa-heart"></span>
        </a>
        <div class="media-body">
          <h4 class="media-heading">Home Care</h4>
          Precisa de atendimento em casa? O GuiaDr facilita sua vida. Confira os melhores serviços de Home Care.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12 media">
        <a class="pull-left">
          <span class="media-object fa fa-lg fa-plus-square"></span>
        </a>
        <div class="media-body">
          <h4 class="media-heading">Serviços Emergenciais</h4>
          Atendimento 24h x 7 dias por semana. Consulte os serviços de emergência mais próximos de você. 
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 media">
        <a class="pull-left" href="#">
          <span class="media-object fa fa-lg fa-flask"></span>
        </a>
        <div class="media-body">
          <h4 class="media-heading">Vacinas</h4>
          Veja onde você pode prevenir-se com os serviços de vacinação.
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 media">
        <a class="pull-left">
          <span class="media-object fa fa-lg fa-graduation-cap"></span>
        </a>
        <div class="media-body">
          <h4 class="media-heading">Clínicas Populares</h4>
          A forma mais econômica de cuidar da sua saúde. Conheça as clínicas populares cadastradas no GuiaDr.
        </div>
      </div>
    </div>
  </div>
  <div class="container latest-posts">
    <div class="page-header">
      <div class="pull-right">
        <a href="/#/blog" class="btn btn-primary right">Ir para o blog</a>
      </div>
      <h3>Últimas Postagens</h3>
      <p>Dicas para você cuidar bem da sua saúde.</p>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4" ng-repeat="postagem in postagens">
        <div class="thumbnail">
          <a ng-href="#/blog/{{postagem._id}}"><img src="portal/_ups/{{postagem.imagem}}"/></a>
          <div class="caption">
            <h4 class="thumbnail-heading"><a href="#/blog/{{postagem._id}}">{{postagem.titulo}}</a></h4>
            <p class="excerpt">{{postagem.chamada}}</p>
            <div class="post-meta hidden-xs">
              <p>Postado em <a>{{postagem.dtInclusao|toDateStringBrasil}}</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="container quotes">
    <div class="blockquote-widget">
      <div class="quote-content">
        <blockquote>
          <h3>Ainda tem alguma dúvida sobre as vantagens em ser associado ao GuiaDr?</h3>
          <p>Confira todos os benefícios que pacientes e profissionais da saúde só encontram no GuiaDr.
          <p>
        </blockquote>
      </div>
      <div class="quote-button hidden-sm hidden-xs">
        <a href="/#/beneficios" class="btn btn-primary">Leia mais</a>
      </div>
    </div>
  </div>
</div>