<div class="header-bottom clearfix">
    <div class="breadcrumbs container">
        <nav class="pull-left row">
            <div class="page-header">
                <h1>{{titulo}}</h1>
            </div>
        </nav>
    </div>
</div>
<div class="container">
    <div id="vertical_tabs" class="row">
        <div class="tab-content col-md-12">
            <div class="tab-pane active row container-fluid" id="a">
                <div class="entry row">
                    <p class="col-sm-12 text-justify">
                        <div ng-bind-html="conteudo"></div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>