<div class="container doctor_controls">
	<div class="row">
		<div class="tab-content horizontal">
			<form class="tab-pane active fade in book" id="book">
				<div class="row book_section" ng-hide="isDisponivel">
					<div class="col-md-12 col-sm-12">
						<div class="row">
							<label class="col-md-6">
								<div class="jumbotron">
									<div class="container">
										<h2 class="text-center text-normalize">Cadastro de Paciente</h2>
										<p class="text-center text-normalize">Para todos que desejam ser pacientes dos especialistas do GuiaDr.</p>
										<a ng-href="#/cadastro/paciente" class="btn btn-primary btn-block">Acessar</a>
									</div>
								</div>
							</label>
							<label class="col-md-6">
								<div class="jumbotron">
									<div class="container">
										<h2 class="text-center text-normalize">Cadastro de Profissional</h2>
										<p class="text-center text-normalize">Para todos que desejam fazer parte dos especialistas mais procurados.</p>
										<a ng-href="#/cadastro/profissional" class="btn btn-primary btn-block">Acessar</a>
									</div>
								</div>
							</label>
						</div>
					</div>
				</div>
			</form> 
		</div>
	</div>
</div>