<div class="container doctor_controls">
	<div class="row">
		<div class="tab-content horizontal">
			<form class="tab-pane active fade in book" id="book">
				<div class="row book_section" ng-hide="isDisponivel">
					<div class="col-md-12 col-sm-12">
						<div class="row">
							<label class="col-md-6">
								<div class="jumbotron">
									<div class="container">
										<h2 class="text-center text-normalize">Informação</h2>
										<p class="text-center text-normalize">Escolha umas das opções ao lado para se cadastrar no GuiaDr.</p>
									</div>
								</div>
							</label>
							<label class="col-md-6">
								<div class="jumbotron">
									<div class="container">
										<h2 class="text-center text-normalize">Cadastre-se</h2>
										<a ng-href="#/cadastro/paciente/form" class="btn btn-primary btn-block">Com Formulário</a>
										<a ng-href="/cadastro/paciente/facebook" class="btn btn-block btn-label btn-social btn-facebook">
											<i class="fa fa-fw fa-facebook"></i> Conecte-se com o Facebook
										</a>
									</div>
								</div>
							</label>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>