<div class="header-bottom clearfix">
	<div class="breadcrumbs container">
		<nav class="pull-left row">
			<div class="page-header"><h1 class="text-normalize">Cadastro de Paciente</h1></div>
		</nav>
	</div>
</div>
<div class="container doctor_controls" id="formAgendamento">
	<div class="row">
		<div class="tab-content horizontal">
			<div class="row book_section" ng-class="{'hidden':tabCadastroPaciente!=1}" ng-show="tabCadastroPaciente==1">
				<div class="btn-group hidden-xs btn-breadcrumb">
					<div class="btn btn-crumb active"><span>Dados pessoais</span></div>
					<div class="btn btn-crumb"><span>Confirmação</span></div>
					<div class="btn btn-crumb"><span>Finalizado</span></div>
				</div>
				<div class="col-md-12 col-sm-12">
					<form class="tab-pane active fade in book row" role="form" name="form" autocomplete="off">
						<div class="row">
							<label class="col-md-6 col-sm-6 col-xs-6">Nome*<br/>
								<input type="text" class="client_name" id="nome" name="nome" required ng-model="cadastro.nome" placeholder="Nome" />
							</label>
							<label class="col-md-6 col-sm-6 col-xs-6 text-normalize">E-mail*<br/>
								<input type="email" class="client_name" id="email" name="email" required ng-model="cadastro.email" placeholder="Digite seu E-mail" />
							</label>
						</div>
						<div class="row">
							<label class="col-md-6 col-sm-6 col-xs-6">Senha*<br/>
								<input type="password" class="client_name" id="senha" name="senha" required ng-model="cadastro.senha" placeholder="Digite sua Senha" />
							</label>
							<label class="col-md-6 col-sm-6 col-xs-6"><br />
								<button type="submit" class="btn btn-primary pull-right" ng-click="tabCadastroPaciente=2" ng-disabled="form.$invalid">Continuar <i class="fa fa-arrow-right"></i></button>
							</label>
						</div>
					</form>
				</div>
			</div>
			<div class="row book_section" ng-class="{'hidden':tabCadastroPaciente!=2}" ng-show="tabCadastroPaciente==2">
				<div class="btn-group hidden-xs btn-breadcrumb">
					<div class="btn btn-crumb active"><span>Dados pessoais</span></div>
					<div class="btn btn-crumb active"><span>Confirmação</span></div>
					<div class="btn btn-crumb"><span>Finalizado</span></div>
				</div>
				<div class="col-md-12 col-sm-12">
					<div class="tab-pane active fade in book row">
						<div class="row">
							<label class="col-md-6 col-sm-6 col-xs-6 text-normalize">Nome: {{cadastro.nome}} </label>
							<label class="col-md-6 col-sm-6 col-xs-6 text-normalize">E-mail: {{cadastro.email}} </label>
						</div>
						<div class="row">
							<label class="col-md-6 col-sm-6 col-xs-6">Senha: ****** </label>
							<label class="col-md-6 col-sm-6 col-xs-6">
								<div class="pull-right">
									<button class="btn btn-default" ng-click="tabCadastroPaciente=1">
										<i class="fa fa-arrow-left"></i> Voltar
									</button>
									<button id="btnCadastroPessoais" class="btn btn-primary pull-right" ng-click="gravarDadosPessoais(cadastro)">
										Gravar <i class="fa fa-arrow-right"></i>
									</button>
								</div>
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="row book_section" ng-class="{'hidden':tabCadastroPaciente!=3}" ng-show="tabCadastroPaciente==3">
				<div class="btn-group hidden-xs btn-breadcrumb">
					<div class="btn btn-crumb active"><span>Dados pessoais</span></div>
					<div class="btn btn-crumb active"><span>Confirmação</span></div>
					<div class="btn btn-crumb active"><span>Finalizado</span></div>
				</div>
				<div class="col-md-12 col-sm-12">
					<div class="row">
						<h4>O cadastro foi enviado com sucesso!</h4>
						<p>Seu dados está em processamento. Em pouco tempo enviaremos um e-mail, com instruções de como continuar a proceder. Grato!</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>