<div class="header-bottom clearfix">
	<div class="breadcrumbs container">
		<nav class="pull-left row">
			<div class="page-header"><h1 class="text-normalize">Cadastro de Profissional</h1></div>
		</nav>
	</div>
</div>
<div class="container doctor_controls" id="formAgendamento">
	<div class="row">
		<div class="tab-content horizontal">
			<div class="row book_section" ng-class="{'hidden':tabCadastro!=1}" ng-show="tabCadastro==1">
				<div class="btn-group hidden-xs btn-breadcrumb">
					<div class="btn btn-crumb active"><span>Dados pessoais</span></div>
					<div class="btn btn-crumb"><span>Especialidades</span></div>
					<div class="btn btn-crumb"><span>Localização</span></div>
					<div class="btn btn-crumb"><span>Finalização</span></div>
				</div>
				<div class="col-md-12 col-sm-12">
					<form class="tab-pane active fade in book row" role="form" name="form" autocomplete="off">
						<div class="row">
							<label class="col-md-6 col-sm-6 col-xs-6">Nome*<br/>
								<input type="text" class="client_name" id="nome" name="nome" required ng-model="cadastro.nome" placeholder="Nome" />
							</label>
							<label class="col-md-6 col-sm-6 col-xs-6">Facebook<br/>
								<input type="text" class="client_name" id="facebook" name="facebook" ng-model="cadastro.facebook" placeholder="Insira o link de seu perfil no Facebook" />
							</label>
						</div>
						<div class="row">
							<label class="col-md-6 col-sm-6 col-xs-6">E-mail*<br/>
								<input type="email" class="client_name" id="email" name="email" required ng-model="cadastro.email" placeholder="Digite seu E-mail" />
							</label>
							<label class="col-md-6 col-sm-6 col-xs-6">Twitter<br/>
								<input type="text" class="client_name" id="twitter" name="twitter" ng-model="cadastro.twitter" placeholder="Insira o link de sua página no Twitter" />
							</label>
						</div>
						<div class="row">
							<label class="col-md-6 col-sm-6 col-xs-6">Senha*<br/>
								<input type="password" class="client_name" id="senha" name="senha" required ng-model="cadastro.senha" placeholder="Digite sua Senha" />
							</label>
							<label class="col-md-6 col-sm-6 col-xs-6">Linkedin<br/>
								<input type="text" class="client_name" id="linkedin" name="linkedin" ng-model="cadastro.linkedin" placeholder="Insira o link de sua página no Linkedin" />
							</label>
						</div>
						<div class="row">
							<label class="col-md-6 col-sm-6 col-xs-6">Registro Profissional*<br/>
								<input type="text" class="client_name" id="numreg" name="numreg" required ng-model="cadastro.numreg" placeholder="Digite o número do seu registro" />
							</label>
							<label class="col-md-6 col-sm-6 col-xs-6">CPF ou CNPJ*<br/>
								<input type="text" class="client_name" id="documento" name="documento" required ng-model="cadastro.documento" placeholder="Insira o número do documento Júridico ou Físico" />
							</label>
						</div>
						<div class="row">
							<button type="submit" class="btn btn-primary pull-right" ng-click="tabCadastro=2" ng-disabled="form.$invalid">Continuar <i class="fa fa-arrow-right"></i></button>
						</div>
					</form>
				</div>
			</div>
			<div class="row book_section" ng-class="{'hidden':tabCadastro!=2}" ng-show="tabCadastro==2">
				<div class="btn-group hidden-xs btn-breadcrumb">
					<div class="btn btn-crumb active"><span>Dados pessoais</span></div>
					<div class="btn btn-crumb"><span>Especialidades</span></div>
					<div class="btn btn-crumb"><span>Localização</span></div>
					<div class="btn btn-crumb"><span>Finalização</span></div>
				</div>
				<div class="row">
					<h4>Tipos de consulta e seus valores!</h4>
				</div>
				<div class="row">
					<div class="col-lg-4">
						<ul class="select_appointment">
							<li>
								<label class="for_selectbox">
									<input checked="checked" type="radio" name="select_appointment" value="0">
									Estou de acordo com a forma de pagamento e dos valores praticados pelos pacientes.
								</label>
							</li>
						</ul>
					</div>
					<div class="col-lg-8">
						<div class="row pricing-table-1-container pricing-info"> 
							<div class="col-md-4" ng-repeat="plano in planos">
								<div class="pricing-box hover-effect">
									<div class="pricing-head">
										<h3 class="pricing-head-title">{{plano.titulo}}</h3>
										<h4><i>R$</i>{{plano.valor}}<span>Consulta</span></h4>
									</div>
									<ul class="pricing-content list-unstyled">
										<li>{{plano.texto}}</li>
									</ul>
									<div class="pricing-footer">
										<p>Suporte 24 / 7 pelo telefone</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<button type="submit" class="btn btn-primary pull-right" ng-click="tabCadastro=3">Continuar <i class="fa fa-arrow-right"></i></button>
				</div>
			</div>
			<div class="row book_section" ng-class="{'hidden':tabCadastro!=3}" ng-show="tabCadastro==3">
				<div class="btn-group hidden-xs btn-breadcrumb">
					<div class="btn btn-crumb active"><span>Dados pessoais</span></div>
					<div class="btn btn-crumb"><span>Especialidades</span></div>
					<div class="btn btn-crumb"><span>Localização</span></div>
					<div class="btn btn-crumb"><span>Finalização</span></div>
				</div>
				<div class="col-md-12 col-sm-12">
					<form class="tab-pane active fade in book row" role="form" name="form1" autocomplete="off">
						<div class="row">
							<label class="col-md-6 col-sm-6 col-xs-6">Descrição pessoal ({{wordCountDescricao}} de 250 caracteres)<br/>
								<textarea name="descricao" rows="10" ng-model="cadastro.descricao" placeholder="Faça uma breve descrição pessoal" maxlength="250" style="width:100%;"></textarea>
							</label>
							<label class="col-md-6 col-sm-6 col-xs-6">Descrição educacional ({{wordCountEducacao}} de 250 caracteres)<br/>
								<textarea name="educacao" rows="10" ng-model="cadastro.educacao" placeholder="Descreva sua mensagem aqui" maxlength="250" style="width:100%;"></textarea>
							</label>
						</div>
						<div class="row">
							<div class="pull-right">
								<button class="btn btn-default" ng-click="tabCadastro=1"> <i class="fa fa-arrow-left"></i> Voltar</button>
								<button id="btnCadastroProfissional" class="btn btn-primary" ng-click="gravarDadosBasicos(cadastro)">Continuar <i class="fa fa-arrow-right"></i></button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="row book_section" ng-class="{'hidden':tabCadastro!=4}" ng-show="tabCadastro==4">
				<div class="btn-group hidden-xs btn-breadcrumb">
					<div class="btn btn-crumb active"><span>Dados pessoais</span></div>
					<div class="btn btn-crumb active"><span>Especialidades</span></div>
					<div class="btn btn-crumb"><span>Localização</span></div>
					<div class="btn btn-crumb"><span>Finalização</span></div>
				</div>
				<div class="col-md-12 col-sm-12">
					<form class="tab-pane active fade in book row" role="form" name="form2" autocomplete="off">
						<div class="row">
							<label class="col-md-12 col-sm-12 col-xs-12">Em qual categoria se encaixa? *<br/>
								<select class="select2To" ng-model="cadastro.categoria" ng-options="c as c.titulo for c in categorias" ng-change="getEspecialidade()" required>
								</select>
							</label>
						</div>
						<div class="row" ng-show="cadastro.categoria.especialidade">
							<div class="form-group">
								<label class="col-sm-4 control-label">Selecione todas as especialidades em que atende *</label>
								<div class="col-md-6 col-sm-6 col-xs-6">
									<div ng-repeat="especialidade in cadastro.categoria.especialidade">
										<label>
											<input class="icheck" ng-model="especialidade[especialidade._id]" ng-change="change(especialidade)" type="checkbox">
											{{especialidade.titulo}}
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="pull-right">
								<button class="btn btn-default" ng-click="tabCadastro=2"> <i class="fa fa-arrow-left"></i> Voltar</button>
								<button id="btnCadastroCategorias" class="btn btn-primary" ng-click="gravarCategorias(cadastro)" ng-disabled="form2.$invalid">Continuar <i class="fa fa-arrow-right"></i></button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="row book_section" ng-class="{'hidden':tabCadastro!=5}" ng-show="tabCadastro==5">
				<div class="btn-group hidden-xs btn-breadcrumb">
					<div class="btn btn-crumb active"><span>Dados pessoais</span></div>
					<div class="btn btn-crumb active"><span>Especialidades</span></div>
					<div class="btn btn-crumb active"><span>Localização</span></div>
					<div class="btn btn-crumb"><span>Finalização</span></div>
				</div>
				<div class="col-md-12 col-sm-12">
					<form class="tab-pane active fade in book row" role="form" name="form3" autocomplete="off">
						<div class="row">
							<label class="col-md-10 col-sm-10 col-xs-10">
                                <input type="text" ng-model="registro.logradouro.cep" class="form-control" placeholder="Digite o CEP">
                            </label>
                            <label class="col-md-2 col-sm-2 col-xs-2">
                                <button type="button" id="btnBuscarCep" class="btn btn-block btn-inverse" ng-click="buscaCep()" style="height:33px;">Buscar</button>
							</label>
						</div>
						<div class="row">
							<label class="col-md-6 col-sm-6 col-xs-6">País*<br/>
								<input type="text" ng-model="cadastro.latlong" style="display:none;">
                                <select id="pais" class="form-control" ng-model="cadastro.pais" required ng-options="pais._id as pais.titulo for pais in paises" ng-change="changePais(registro)">
                                    <option value="">== Selecione ==</option>
                                </select>
							</label>
							<label class="col-md-6 col-sm-6 col-xs-6">Bairro*<br/>
                                <select id="bairro" class="form-control" ng-model="cadastro.bairro" required ng-options="bairro._id as bairro.titulo for bairro in bairros">
                                    <option value="">== Selecione ==</option>
                                </select>
							</label>
						</div>
						<div class="row">
							<label class="col-md-6 col-sm-6 col-xs-6">Estado*<br/>
                                <select id="estado" class="form-control" ng-model="cadastro.estado" required ng-options="estado._id as estado.titulo for estado in estados" ng-change="changeEstado(registro)">
                                    <option value="">== Selecione ==</option>
                                </select>
							</label>
							<label class="col-md-6 col-sm-6 col-xs-6">Logradouro*<br/>
                                <input type="hidden" ng-model="cadastro.logradouro" />
                                <input type="text" class="form-control" id="logradouro" name="logradouro" required ng-model="logradouro" disabled />
							</label>
						</div>
						<div class="row">
							<label class="col-md-6 col-sm-6 col-xs-6">Cidade*<br/>
                                <select id="cidade" class="form-control" ng-model="cadastro.cidade" required ng-options="cidade._id as cidade.titulo for cidade in cidades" ng-change="changeCidade(registro)">
                                    <option value="">== Selecione ==</option>
                                </select>
							</label>
							<label class="col-md-6 col-sm-6 col-xs-6">Número<br/>
								<input type="text" class="form-control" id="numero" name="numero" ng-model="cadastro.numero" placeholder="Digite o número" />
							</label>
						</div>
						<div class="row">
							<label class="col-md-12 col-sm-12 col-xs-12">Telefone<br/>
								<tags-input ng-model="cadastro.telefone" display-property="titulo"></tags-input>
								<p class="help-block">Separe os telefones por vírgulas (,). Ex: +55(99)99999-9999</p>
							</label>
						</div>
						<div class="row">
							<div class="pull-right">
								<button id="btnCadastroEndereco" class="btn btn-primary" ng-click="gravarEndereco(cadastro)" ng-disabled="form3.$invalid">Continuar <i class="fa fa-arrow-right"></i></button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="row book_section" ng-class="{'hidden':tabCadastro!=6}" ng-show="tabCadastro==6">
				<div class="btn-group hidden-xs btn-breadcrumb">
					<div class="btn btn-crumb active"><span>Dados pessoais</span></div>
					<div class="btn btn-crumb active"><span>Especialidades</span></div>
					<div class="btn btn-crumb active"><span>Localização</span></div>
					<div class="btn btn-crumb active"><span>Finalização</span></div>
				</div>
				<div class="row">
				<h4>O seu cadastro foi finalizado com sucesso!</h4>
				<p>Seu cadastro está em processamento. Em pouco tempo enviaremos um e-mail, com instruções de como continuar a proceder. Obrigado por se cadastrar!</p>
				</div>
			</div>
		</div>
	</div>
</div>