<div class="page-content">
    <div class="container-fluid" style="margin-top:15px;">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-sky">
                    <div class="panel-heading">
                        <h2>DISPONIBILIDADE</h2>
                        <div class="panel-ctrls pull-left">
                            <i class="separator"></i>
                             {{nomePagina}}
                            <i class="separator"></i>
                        </div>
                        <div class="panel-ctrls pull-right" style="margin-top:-1px; margin-left:5px;">
                            <a ng-href="#/disponibilidade" class="btn btn-sm btn-default">
                                <i class="fa fa-arrow-left"></i> VOLTAR PARA A LISTA
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form ng-submit="salva()" role="form" name="form" class="form-horizontal row-border" autocomplete="off">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="titulo" class="col-sm-2 control-label">Data</label>
                                    <div class="col-sm-8">
                                        <input datepicker type="text" class="form-control" id="data" name="data" required ng-model="registro.data" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="nome" class="col-sm-2 control-label">Tipo</label>
                                    <div class="col-sm-8">
                                        <select id="tipo" class="form-control" ng-model="registro.tipo" required ng-options="tipo.id as tipo.titulo for tipo in tipos">
                                            <option value="">== Selecione ==</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="nome" class="col-sm-2 control-label">Categorias</label>
                                    <div class="col-sm-8">
                                        <select id="categoria" class="form-control" ng-model="registro.categoria" required ng-options="categoria as categoria.titulo for categoria in categorias track by categoria._id">
                                            <option value="">== Selecione ==</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="especialidade" class="col-sm-2 control-label">Especialidades</label>
                                    <div class="col-sm-8">
                                        <tags-input ng-model="registro.categoria.especialidade" display-property="titulo"></tags-input>
                                        <p class="help-block">Separe as especialidades por vírgulas (,).</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="habilidades" class="col-sm-2 control-label">Horários</label>
                                    <div class="col-sm-8">
                                        <tags-input ng-model="registro.horario" display-property="hora">
                                            <auto-complete source="loadTags($query)"></auto-complete>
                                        </tags-input>
                                        <p class="help-block">Separe os horários por vírgulas (,).</p>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <button id="botaoSalvar" type="submit" class="btn btn-inverse btn-block" ng-disabled="form.$invalid">
                                                Salvar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>