<!--div class="slide">
    <div class="container slide-caption hidden-xs bannerA">
        <h1>
			<a href="/#/p/servicos">Agende sua consulta</a>
		</h1>
        <p>
            A forma mais fácil e rápida de agendar sua consulta com os melhores profissionais do estado.
        </p>
    </div>
    <img alt="medical_care_image" class="slide-image" src="vendor/portal/img/banners/PSICOLOGO-01.jpg" />
</div>
<div class="slide">
    <div class="container slide-caption hidden-xs bannerA">
        <h1>
			<a href="/#/servicos">Agende sua consulta</a>
		</h1>
        <p>
            A forma mais fácil e rápida de agendar sua consulta com os melhores profissionais do estado.
        </p>
    </div>
    <img alt="slider image 1" class="slide-image" src="vendor/portal/img/banners/MEDICO-06.jpg" />
</div-->
<div class="slide">
    <div class="container slide-caption hidden-xs bannerA">
        <h1>
			<a href="/#/p/servicos">Agende sua consulta</a>
		</h1>
        <br>
        <p>
            A forma mais fácil e rápida de agendar sua consulta com os melhores profissionais do estado.
        </p>
    </div>
    <img alt="slider image 2" class="slide-image" src="vendor/portal/img/banners/MEDICO-06.jpg" />
</div>