<div class="sticky">
  <div class="container">
    <form class="row" >
      <div class="form-group">
        <ul id="sticky-tabs" class="nav nav-tabs">
          <li ng-class="{'active' : tab==1}" ng-click="tab=1">
            <a data-toggle="tab">Agende sua consulta</a>
          </li>
          <!--li ng-class="{'active' : tab==2}" ng-click="tab=2" style="margin-right:9px;">
            <a data-toggle="tab">Agende seu exame</a>
          </li-->
          <li ng-class="{'active' : tab==3}" ng-click="tab=3" class="pull-right" style="margin-right:0;">
            <a data-toggle="tab">Procurar Clínicas</a>
          </li>
        </ul>
        <div id="sticky-tabsContent" class="tab-content">
          <div class="tab-pane fade in" ng-class="{'active' : tab==1}" ng-show="tab==1">
            <div class="row controls">
              <label class="col-md-6 col-xs-12 col-sm-12 for_text_input">Filtre por categoria<br/>
                <select name="categoria" id="categoria"  class="select2To" ng-change="getEspecialidade()" ng-model="busca.categoria" ng-options="categoria as categoria.titulo for categoria in categorias" required>
                <option value="" selected="selected">---</option>
                </select>
              </label>
              <label class="col-md-6 col-xs-12 col-sm-12 for_text_input">Filtre por especialidades<br/>
                <select name="especialidade" id="especialidade" class="select2To" ng-model="busca.especialidade" ng-options="especialidade as especialidade.titulo for especialidade in especialidades" required>
                <option value="" selected="selected">---</option>
                </select>
              </label>
              <br/>
              <div id="book-a-date" class="col-md-4 col-sm-12 col-xs-12">Filtre por data<br/>
                <span class="overlabel">Selec Date</span>
                <input ng-model="busca.data" class="datepicker" type="text" placeholder="Escolher data" id="book_an_appointment_date" required />
                <span class="select2-arrow"><b></b></span>
              </div>
              <label class="col-md-4 col-xs-12 col-sm-12 for_text_input">Tipo<br/>
                <select name="tipo" id="tipo" class="select2To" ng-model="busca.tipo" ng-options="tipo.id as tipo.titulo for tipo in tipos" required>
                  <option value="" selected="selected">---</option>
                </select>
              </label>
              <div class="col-md-4 col-sm-12 col-xs-12 book-button">
                <button type="button" class="btn btn-primary" id="btnConsulta" ng-click="buscarConsulta(busca)">Buscar</button>
              </div>
            </div>
            <div class="profiles-loop" ng-show="disponibilidades.length > 0">
              <div infinite-scroll='disponibilidades.nextPage()' 
                   infinite-scroll-disabled='disponibilidades.busy' 
                   infinite-scroll-distance='3'>
                <div ng-repeat='item in disponibilidades'>
                  <div class="post" id="p_{{item.medico._id}}">
                    <div class="profile_thumb left">
                      <img alt="profile thumb 1" class="avatar_square left" src="/portal/_ups/{{item.medico.imagem}}"/>
                      <b class="doc_name">{{item.medico.nome}}</b><br/>
                      <small class="doc_spec">{{item.medico.especialidade[0].titulo}}</small><br/>
                      <a href="#/profissional/{{item.medico._id}}" class="view_profile">Ver Perfil</a>
                    </div>
                    <div class="stars_display left" ng-hide="1">
                      <input disabled="disabled" value="5" type="number" class="input-21e rating form-control" min="0" max="5" step="1" data-size="xs"/>
                    </div>
                    <div class="doc_location left">
                      <span class="left fa fa-lg fa-map-marker"></span>
                      <address class="right">
                        {{item.medico.endereco[0].logradouro}}, {{item.medico.endereco[0].numero}}, {{item.medico.endereco[0].bairro}}
                        <br/>{{item.medico.endereco[0].cidade}}/{{item.medico.endereco[0].pais}}
                      </address>
                    </div>
                    <a href="#/profissional/{{item.medico._id}}" class="btn btn-primary col-xs-12 col-sm-2 right">Agendar</a>
                  </div>
                  <div class="clear"></div>
                  <div class="divider"></div>
                </div>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <!--div class="tab-pane fade row in" ng-class="{'active' : tab==2}" ng-show="tab==2">
            <div class="row controls">
              <label class="col-md-4 col-xs-12 col-sm-6">Especialidade<br/>
                <select data-autowidth="false" class="custom" >
                  <option>Escolher especialidade</option>
                  <option>Cardiologista</option>
                  <option>Cirurgião buco-facial</option>
                  <option>Psicoterapeuta infantil</option>
                  <option>Personal trainner</option>
                </select>
              </label>
              <label class="col-md-3 col-xs-12 col-sm-6">Localização<br/>
                <select data-autowidth="false" class="custom">
                  <option disabled="disabled"  selected="selected">Escolher local</option>
                  <option>Natal</option>
                  <option>São Paulo</option>
                  <option>Brasília</option>
                </select>
              </label>
              <label class="col-md-3 col-xs-12 col-sm-10"><span>Melhores avaliados</span><br/>
                <select data-autowidth="false" data-customClass="rating-select" class="custom rating-select">
                  <option value="0" disabled="disabled" selected="selected">Melhores avaliados</option>
                  <option value="1" >
                    1 star
                  </option>
                  <option value="2" >
                    2 star
                  </option>
                  <option value="3" >
                    3 star
                  </option>
                  <option value="4" >
                    4 star
                  </option>
                  <option value="5" >
                    5 star
                  </option>
                </select>
              </label>
              <div class="col-md-2 col-xs-12 col-sm-2 book-button">
                <button id="search_btn" onclick="return false" class="btn btn-primary">Buscar</button>
              </div>
            </div>
            <div class="clear"></div>
          </div-->
          <div class="tab-pane fade row in" ng-class="{'active' : tab==3}" ng-show="tab==3">
            <div class="row controls">
              <label class="col-md-4 col-xs-12 col-sm-12 for_text_input">Filtre por estado<br/>
                <select name="estado" id="estado" data-autowidth="false" class="select2To" ng-change="getClinicaCidade()" ng-model="buscaClinica.estado" ng-options="estado.id as estado.titulo for estado in estados" required>
                  <option value="" selected="selected">Escolha o estado</option>
                </select>
              </label>
              <label class="col-md-4 col-xs-12 col-sm-12 for_text_input">Filtre por cidade<br/>
                <select name="cidade" id="cidade" data-autowidth="false" class="select2To" ng-change="getClinicaBairro()" ng-model="buscaClinica.cidade" ng-options="cidade as cidade.titulo for cidade in cyties" required>
                  <option value="" selected="selected">Escolha a cidade</option>
                </select>
              </label>
              <label class="col-md-4 col-xs-12 col-sm-12 for_text_input">Filtre por bairro<br/>
                <select name="bairro" id="bairro" data-autowidth="false" class="select2To" ng-model="buscaClinica.bairro" ng-options="bairro as bairro.titulo for bairro in neighbor" required>
                  <option value="" selected="selected">Escolha o bairro</option>
                </select>
              </label>
              <br/>
              <label class="col-md-4 col-xs-12 col-sm-12 for_text_input">Filtre por categoria<br/>
                <select name="categoria" id="categoria" data-autowidth="false" class="select2To" ng-change="getClinicaEspecialidade()" ng-model="buscaClinica.categoria" ng-options="categoria as categoria.titulo for categoria in categorias" required>
                  <option value="" selected="selected">Escolha a categoria</option>
                </select>
              </label>
              <label class="col-md-4 col-xs-12 col-sm-12 for_text_input">Filtre por especialidades<br/>
                <select name="especialidade" id="especialidade" data-autowidth="false" class="select2To" ng-model="buscaClinica.especialidade" ng-options="especialidade as especialidade.titulo for especialidade in especialidades" required>
                  <option value="" selected="selected">Escolha a especialidade</option>
                </select>
              </label>
              <div class="col-md-4 col-sm-12 col-xs-12 book-button">
                <button type="button" class="btn btn-primary" id="btnClinica" ng-click="buscarClinica(buscaClinica)">Buscar</button>
              </div>
            </div>
            <div class="profiles-loop" ng-show="clinicas.length > 0">
              <div  infinite-scroll='clinicas.nextPage()' 
                    infinite-scroll-disabled='clinicas.busy' 
                    infinite-scroll-distance='3'>
                <div ng-repeat='item in clinicas'>
                  <div class="post" id="c_{{item._id}}">
                    <div class="profile_thumb left">
                      <img alt="profile thumb 1" class="avatar_square left" src="/portal/_ups/clinica/{{item.imagem}}"/>
                      <b class="doc_name">{{item.nome}}</b><br/>
                      <small class="doc_spec">{{item.especialidade[0].titulo}}</small><br/>
                    </div>
                    <div class="doc_location left">
                      <span class="left fa fa-lg fa-map-marker"></span>
                      <address class="right">
                        {{item.endereco[0].logradouro}}, {{item.endereco[0].numero}}, {{item.endereco[0].bairro}}
                        <br/>{{item.endereco[0].cidade}}/{{item.endereco[0].pais}}
                      </address>
                    </div>
                    <a href="#/clinica/{{item._id}}" class="btn btn-primary col-xs-12 col-sm-2 right">Ver</a>
                  </div>
                  <div class="clear"></div>
                  <div class="divider"></div>
                </div>
                <div class="clear"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>