<div class="header-bottom clearfix">
    <div class="breadcrumbs container">
        <nav class="pull-left row">
            <div class="page-header"><h1>Meus Dados</h1> :: Perfil (Foto) </div>
        </nav>
    </div>
</div>
<div class="container doctor_controls" id="formAgendamento">
    <div class="row">
        <div class="tab-content horizontal">
            <form role="form" name="form" id="wizard" class="form-horizontal row-border" autocomplete="off">
                <div class="box-body" ng-hide="progressBar >= 99">
                    <div class="form-group">
                        <label for="titulo" class="col-sm-2 control-label"></label>
                        <div class="col-sm-8">
                            <button class="btn btn-inverse btn-block" ngf-select="upload($file)" accept="image/*" ng-hide="progressBar > 0">Selecione a Foto</button>
                            <div class="contextual-progress" ng-show="progress >= 0">
                                <div class="clearfix">
                                    <div class="progress-title">Upload</div>
                                    <div class="progress-percentage">{{progress}}%</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary" style="width:{{progress}}%"></div>
                                </div>
                            </div>
                            <div class="contextual-progress" ng-show="progressBar > 0">
                                <div class="clearfix">
                                    <div class="progress-title">Progresso Total</div>
                                    <div class="progress-percentage">{{progressBar}}%</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info" style="width:{{progressBar}}%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="titulo" class="col-sm-2 control-label"></label>
                        <div class="col-sm-8">
                            <div ng-show="obj.src" ng-show="progressBar <= 0" ng-jcrop="obj.src" selection="obj.coords" thumbnail="obj.thumbnail" ng-jcrop-config-name="profissional"></div>
                        </div>
                    </div>
                    <div class="form-group" ng-show="progressBar > 49">
                        <label for="titulo" class="col-sm-2 control-label"></label>
                        <div class="col-sm-8">
                            <button class="btn btn-danger btn-block" ng-click="resize(obj)">Salvar</button>
                        </div>
                    </div>
                </div>
                <div class="box-body" ng-show="progressBar >= 100">
                    <div class="form-group">
                        <label for="titulo" class="col-sm-4 control-label"></label>
                        <div class="col-sm-6">
                            <img src="{{src}}">
                        </div>
                    </div>
                </div>
                <div class="box-body" ng-show="haveImagem > 0">
                    <div class="form-group">
                        <label for="titulo" class="col-sm-4 control-label"></label>
                        <div class="col-sm-6">
                            <img src="{{imagem}}" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>