<div class="header-bottom clearfix">
    <div class="breadcrumbs container">
        <nav class="pull-left row">
            <div class="page-header"><h1>Meus Dados</h1> :: Dados Básicos </div>
        </nav>
    </div>
</div>
<div class="container doctor_controls" id="formAgendamento">
    <div class="row">
        <div class="tab-content horizontal">
            <form role="form" name="form" id="wizard" class="form-horizontal row-border" autocomplete="off">
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group" style="padding: 8px 12px;">
                                <label for="nome" class="control-label">Nome</label>
                                <input type="text" class="form-control" id="nome" name="nome" required ng-model="registro.nome" style="width:95%;" />
                            </div>
                            <div class="form-group" style="padding: 8px 12px;">
                                <label for="email" class="control-label">E-mail</label>
                                <input type="email" class="form-control" id="email" name="email" required ng-model="registro.email" style="width:95%;" />
                            </div>
                            <div class="form-group" style="padding: 8px 12px;">
                                <label for="password" class="control-label">Senha</label>
                                <input type="password" class="form-control" id="password" name="password" ng-model="registro.password" style="width:95%;" />
                            </div>
                            <div class="form-group" style="padding: 8px 12px;">
                                <label for="numreg" class="control-label">Número do Registro</label>
                                <input type="text" class="form-control" id="numreg" name="numreg" required ng-model="registro.info.numreg" style="width:95%;" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" style="padding: 8px 12px 8px 50px;">
                                <label for="facebook" class="control-label">Seu link do Facebook</label>
                                <input type="text" class="form-control" id="facebook" name="password" ng-model="registro.redesociais.facebook" />
                            </div>
                            <div class="form-group" style="padding: 8px 12px 8px 50px;">
                                <label for="twitter" class="control-label">Seu link do Twitter</label>
                                <input type="text" class="form-control" id="twitter" name="twitter" ng-model="registro.redesociais.twitter" />
                            </div>
                            <div class="form-group" style="padding: 8px 12px 8px 50px;">
                                <label for="linkedin" class="control-label">Seu link do Linkedin</label>
                                <input type="linkedin" class="form-control" id="linkedin" name="linkedin" ng-model="registro.redesociais.linkedin" />
                            </div>
                            <div class="form-group" style="padding: 8px 12px 8px 50px;">
                                <label for="documento" class="control-label">CPF/CNPJ</label>
                                <input type="documento" class="form-control" id="documento" name="linkedin" ng-model="registro.info.documento" />
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group" style="padding: 8px 12px 8px 13px;">
                                <label for="linkedin" class="control-label">Breve Descrição (Máximo de 250 caracteres). Total: {{wordCountDescricao}}</label>
                                <textarea maxlength="300" class="form-control textAreaAutoSize" required ng-model="registro.info.descricao"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group" style="padding: 8px 12px 8px 13px;">
                                <label for="linkedin" class="control-label">Educação (Máximo de 250 caracteres). Total: {{wordCountEducacao}}</label>
                                <textarea maxlength="300" class="form-control textAreaAutoSize" required ng-model="registro.info.educacao"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group" style="padding: 8px 12px 8px 13px;">
                                <button id="botaoSalvar" type="button" ng-click="salva()" class="btn btn-primary pull-right" ng-disabled="form.$invalid">
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>