<div class="header-bottom clearfix">
    <div class="breadcrumbs container">
        <nav class="pull-left row">
            <div class="page-header"><h1>Meus Dados</h1> :: Endereços de Atendimento</div>
        </nav>
    </div>
</div>
<div class="container doctor_controls" id="formAgendamento" style="margin-bottom:0px;">
    <div class="row">
        <div class="tab-content horizontal">
            <form role="form" name="form" id="wizard" class="form-horizontal row-border" autocomplete="off">
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="nome" class="col-sm-2 control-label">Busca Fácil</label>
                                <div class="col-sm-8">
                                    <input type="text" ng-model="registro.endereco.latlong" style="display:none;">
                                    <input type="text" ng-model="endereco" uib-typeahead="locais.formatted_address for locais in getLocation($viewValue)" typeahead-loading="loadingLocais" typeahead-no-results="noResults" class="form-control" typeahead-min-length="4" typeahead-on-select="onSelect($item, $model, $label)" typeahead-editable="false">
                                    <i ng-show="loadingLocais" class="glyphicon glyphicon-refresh"></i>
                                    <div ng-show="noResults">
                                        <i class="glyphicon glyphicon-remove"></i> Nenhum resultado encontrado
                                    </div>
                                    <p class="help-block">Digite o endereço (Nome da Av/Rua/Travessa).</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="numero" class="col-sm-2 control-label">Número</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="numero" name="numero" required ng-model="registro.endereco.numero" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="bairro" class="col-sm-2 control-label">Bairro</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="bairro" name="bairro" required ng-model="registro.endereco.bairro" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="estado" class="col-sm-2 control-label">Estado</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="estado" name="estado" required ng-model="registro.endereco.estado" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="logradouro" class="col-sm-2 control-label">Logradouro</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="logradouro" name="logradouro" required ng-model="registro.endereco.logradouro" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cidade" class="col-sm-2 control-label">Cidade</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="cidade" name="cidade" required ng-model="registro.endereco.cidade" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pais" class="col-sm-2 control-label">País</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="pais" name="pais" required ng-model="registro.endereco.pais" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="habilidades" class="col-sm-2 control-label">Telefones</label>
                                <div class="col-sm-8">
                                    <tags-input ng-model="registro.endereco.telefone" display-property="titulo"></tags-input>
                                    <p class="help-block">Separe os telefones por vírgulas (,). Ex: +55(99)99999-9999</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <button id="botaoSalvar" ng-click="salva(registro)" class="btn btn-info btn-block" ng-disabled="form.$invalid">
                                        Adicionar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="container doctor_controls" id="formAgendamento" style="margin-top:10px;">
    <div class="row">
        <div class="page-header" style="margin:0px;">
            <h3>Meus endereços de atendimento</h3>
            <p>Abaixo estão os endereços de atendimento cadastrados</p>
        </div>
        <div class="tab-content horizontal">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ENDEREÇO</th>
                            <th class="text-center">CIDADE</th>
                            <th class="text-center">PAÍS</th>
                            <th class="text-right col-md-1">AÇÃO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in itens">
                            <td>{{item.logradouro}} - {{item.numero}} - {{item.bairro}}</td>
                            <td class="text-center">{{item.cidade}}</td>
                            <td class="text-center">{{item.pais}}</td>
                            <td>
                                <div class="pull-right">
                                    <a ng-click="remove(item)" class="btn btn-sm btn-danger" style="height:25px; line-height:0px;">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>