<div class="header-bottom clearfix">
    <div class="breadcrumbs container">
        <nav class="pull-left row">
            <div class="page-header"><h1>Meus Dados</h1> :: Especialidades </div>
        </nav>
    </div>
</div>
<div class="container doctor_controls" id="formAgendamento" style="margin-bottom:0px;">
    <div class="row">
        <div class="tab-content horizontal">
            <form role="form" name="form" id="wizard" class="form-horizontal row-border" autocomplete="off">
                <div class="box-body">
                    <div class="form-group">
                        <label for="nome" class="col-sm-2 control-label">Categorias</label>
                        <div class="col-sm-8">
                            <select id="tipo" class="form-control" ng-model="registro.categoria" ng-options="c as c.titulo for c in categorias" ng-change="getEspecialidade()" required="">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="especialidades" class="col-sm-2 control-label">Especialidades</label>
                        <div class="col-sm-8">
                            <div ng-repeat="especialidade in registro.categoria.especialidade">
                                <label>
                                    <input class="icheck" ng-model="especialidade[especialidade._id]" ng-change="change(especialidade)" type="checkbox">
                                    {{especialidade.titulo}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-2">
                            <button id="botaoSalvar" ng-click="salva(registro)" class="btn btn-info btn-block" ng-disabled="form.$invalid">
                                Adicionar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="container doctor_controls" id="formAgendamento" style="margin-top:10px;">
    <div class="row">
        <div class="page-header" style="margin:0px;">
            <h3>Minhas Especialidades e Habilidades</h3>
            <p>Abaixo estão as especialidades e habilidades cadastradas</p>
        </div>
        <div class="tab-content horizontal">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>CATEGORIA</th>
                            <th class="text-center">ESPECIALIDADES</th>
                            <th class="text-right col-md-1">AÇÃO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in itens">
                            <td>{{item.titulo}}</td>
                            <td class="text-center">{{item.especialidade|toStrFromObj}}</td>
                            <td>
                                <div class="pull-right">
                                    <a ng-click="remove(item)" class="btn btn-sm btn-danger" style="height:25px; line-height:0px;">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>