<div class="page-content">
    <div class="container-fluid" style="margin-top:15px;">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-sky">
                    <div class="panel-heading">
                        <h2>CONSULTA DO(A) PACIENTE</h2>
                        <div class="panel-ctrls pull-left">
                            <i class="separator"></i>
                            {{nomePaciente}}
                            <i class="separator"></i>
                            {{totalItems}}
                        </div>
                        <div class="panel-ctrls pull-right" style="margin-top:-1px; margin-left:5px;">
                            <a ng-href="#/paciente" class="btn btn-sm btn-default">
                                <i class="fa fa-arrow-left"></i> VOLTAR PARA A LISTA DE PACIENTE
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tr>
                                    <th>MÉDICO</th>
                                    <th>MOTIVO</th>
                                    <th class="text-center col-md-1">IDADE</th>
                                    <th class="text-center col-md-2">AGENDADO PARA</th>
                                    <th class="text-center col-md-1">STATUS</th>
                                </tr>
                                <tr ng-repeat="registro in registros">
                                    <td>{{registro.medico.nome}}</td>
                                    <td>{{registro.especialidade}}</td>
                                    <td class="text-center">{{registro.dtNascimento|toBirthdayDateBrazil}}</td>
                                    <td class="text-center">{{registro.dtAgendamento|toDateTimeBrazil}}</td>
                                    <td class="text-center"><a class="btn btn-sm" ng-class="{'btn-inverse': registro.status == 1, 'btn-primary': registro.status == 2, 'btn-success': registro.status == 3, 'btn-warning': registro.status == 4, 'btn-danger': registro.status == 5}" ng-click="status($event, registro)" ng-model="status">{{registro.status|toStatusConsulta}}</a></td>
                                </tr>
                                <tr ng-hide="registros.length">
                                    <td colspan="7" class="text-center">
                                        Nenhuma consulta agendada
                                    </td>
                                </tr>
                            </table>
                            <uib-pagination ng-show="(totalItems > pageSize)" class="pull-right" total-items="totalItems" max-size="maxSize" ng-model="currentPage" ng-change="pageChanged()" items-per-page="pageSize"></uib-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>