<div class="page-content">
    <div class="container-fluid" style="margin-top:15px;">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-sky">
                    <div class="panel-heading">
                        <h2>BAIRROS</h2>
                        <div class="panel-ctrls pull-left">
                            <i class="separator"></i>
                             {{nomePagina}}
                            <i class="separator"></i>
                        </div>
                        <div class="panel-ctrls pull-right" style="margin-top:-1px; margin-left:5px;">
                            <a ng-href="#/bairro" class="btn btn-sm btn-default">
                                <i class="fa fa-arrow-left"></i> VOLTAR PARA A LISTA
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form ng-submit="salva()" role="form" name="form" class="form-horizontal row-border" autocomplete="off">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="pais" class="col-sm-2 control-label">País</label>
                                    <div class="col-sm-8">
                                        <select id="pais" class="form-control" ng-model="registro.pais" require ng-options="pais._id as pais.titulo for pais in paises" ng-change="changePais(registro)">
                                            <option value="">== Selecione ==</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="estado" class="col-sm-2 control-label">Estado</label>
                                    <div class="col-sm-8">
                                        <select id="estado" class="form-control" ng-model="registro.estado" required ng-options="estado._id as estado.titulo for estado in estados" ng-change="changeEstado(registro)">
                                            <option value="">== Selecione ==</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="cidade" class="col-sm-2 control-label">Cidade</label>
                                    <div class="col-sm-8">                                        
                                        <select id="cidade" class="form-control" ng-model="registro.cidade" required ng-options="cidade._id as cidade.titulo for cidade in cidades">
                                            <option value="">== Selecione ==</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="titulo" class="col-sm-2 control-label">Titulo</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="titulo" name="titulo" required ng-model="registro.titulo" />
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <button id="botaoSalvar" type="submit" class="btn btn-inverse btn-block" ng-disabled="form.$invalid">
                                                Salvar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>