<div class="page-content">
    <div class="container-fluid" style="margin-top:15px;">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-sky">
                    <div class="panel-heading">
                        <h2>PROFISSIONAIS</h2>
                        <div class="panel-ctrls pull-left">
                            <i class="separator"></i>
                             {{nomePagina}}
                            <i class="separator"></i>
                        </div>
                        <div class="panel-ctrls pull-right" style="margin-top:-1px; margin-left:5px;">
                            <a ng-href="#/profissional" class="btn btn-sm btn-default">
                                <i class="fa fa-arrow-left"></i> VOLTAR PARA A LISTA
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form role="form" name="form" id="wizard" class="form-horizontal row-border" autocomplete="off">
                            <div class="box-body">
                                <ul id="basicwizard-header" class="stepy-header">
                                    <li id="basicwizard-head-0" style="cursor: default;">
                                        <div>Informações Básicas</div>
                                        <span>Complete o formulário abaixo</span>
                                    </li>
                                    <li id="basicwizard-head-1" style="cursor: default;">
                                        <div>Categorias</div>
                                        <span>Definição das especialidades</span>
                                    </li>
                                    <li id="basicwizard-head-2" class="stepy-active" style="cursor: default;">
                                        <div>Locais</div>
                                        <span>Cidades onde trabalha</span>
                                    </li>
                                    <li id="basicwizard-head-3" style="cursor: default;">
                                        <div>Perfil</div>
                                        <span>Adicione a foto</span>
                                    </li>
                                </ul>
                                <div class="form-group">
                                    <label for="nome" class="col-sm-2 control-label">Busca CEP</label>
                                    <div class="col-sm-6">
                                        <input type="text" ng-model="registro.endereco.latlong" style="display:none;">
                                        <input type="text" ng-model="registro.logradouro.cep" class="form-control" placeholder="Digite o CEP">
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="button" id="btnBuscarCep" class="btn btn-block btn-inverse" ng-click="buscaCep()">Buscar</button>                                        
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="pais" class="col-sm-2 control-label">País</label>
                                    <div class="col-sm-8">
                                        <select id="pais" class="form-control" ng-model="registro.endereco.pais" required ng-options="pais._id as pais.titulo for pais in paises" ng-change="changePais(registro)">
                                            <option value="">== Selecione ==</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="estado" class="col-sm-2 control-label">Estado</label>
                                    <div class="col-sm-8">
                                        <select id="estado" class="form-control" ng-model="registro.endereco.estado" required ng-options="estado._id as estado.titulo for estado in estados" ng-change="changeEstado(registro)">
                                            <option value="">== Selecione ==</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="cidade" class="col-sm-2 control-label">Cidade</label>
                                    <div class="col-sm-8">
                                        <select id="cidade" class="form-control" ng-model="registro.endereco.cidade" required ng-options="cidade._id as cidade.titulo for cidade in cidades" ng-change="changeCidade(registro)">
                                            <option value="">== Selecione ==</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="bairro" class="col-sm-2 control-label">Bairro</label>
                                    <div class="col-sm-8">
                                        <select id="bairro" class="form-control" ng-model="registro.endereco.bairro" required ng-options="bairro._id as bairro.titulo for bairro in bairros">
                                            <option value="">== Selecione ==</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="logradouro" class="col-sm-2 control-label">Logradouro</label>
                                    <div class="col-sm-8">
                                        <input type="hidden" ng-model="registro.endereco.logradouro" />
                                        <input type="text" class="form-control" id="logradouro" name="logradouro" required ng-model="logradouro" disabled />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="numero" class="col-sm-2 control-label">Número</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="numero" name="numero" required ng-model="registro.endereco.numero" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="habilidades" class="col-sm-2 control-label">Telefones</label>
                                    <div class="col-sm-8">
                                        <tags-input ng-model="registro.endereco.telefone" display-property="titulo"></tags-input>
                                        <p class="help-block">Separe os telefones por vírgulas (,). Ex: +55(99)99999-9999</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <button id="botaoSalvar" ng-click="salva(registro)" class="btn btn-info btn-block" ng-disabled="form.$invalid">
                                            Adicionar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tr>
                                    <th>ENDEREÇO</th>
                                    <th class="text-center">CIDADE</th>
                                    <th class="text-center">PAÍS</th>
                                    <th class="text-right col-md-1">AÇÃO</th>
                                </tr>
                                <tr ng-repeat="item in itens">
                                    <td>{{item.logradouro.titulo}} - {{item.numero}} - {{item.bairro.titulo}}</td>
                                    <td class="text-center">{{item.cidade.titulo}}/{{item.estado.titulo}}</td>
                                    <td class="text-center">{{item.pais.titulo}}</td>
                                    <td>
                                        <div class="pull-right">
                                            <a ng-click="remove(item)" class="btn btn-sm btn-danger">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-sm-12">
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button id="botaoVolta" type="button" ng-click="volta()" class="btn btn-info">
                                            Voltar
                                        </button>
                                        <button id="botaoAvanca" type="button" ng-click="avanca()" class="btn btn-info pull-right">
                                            Avançar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>