<div class="page-content">
    <div class="container-fluid" style="margin-top:15px;">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-sky">
                    <div class="panel-heading">
                        <h2>CLÍNICAS</h2>
                        <div class="panel-ctrls pull-left">
                            <i class="separator"></i>
                             {{nomePagina}}
                            <i class="separator"></i>
                        </div>
                        <div class="panel-ctrls pull-right" style="margin-top:-1px; margin-left:5px;">
                            <a ng-href="#/clinica" class="btn btn-sm btn-default">
                                <i class="fa fa-arrow-left"></i> VOLTAR PARA A LISTA
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form role="form" name="form" id="wizard" class="form-horizontal row-border" autocomplete="off">
                            <div class="box-body">
                                <ul id="basicwizard-header" class="stepy-header">
                                    <li id="basicwizard-head-0" class="stepy-active" style="cursor: default;">
                                        <div>Informações Básicas</div>
                                        <span>Complete o formulário abaixo</span>
                                    </li>
                                    <li id="basicwizard-head-1" style="cursor: default;">
                                        <div>Profissionais</div>
                                        <span>Relação dos profissionais</span>
                                    </li>
                                    <li id="basicwizard-head-2" style="cursor: default;">
                                        <div>Locais</div>
                                        <span>Cidades onde tem</span>
                                    </li>
                                    <li id="basicwizard-head-3" style="cursor: default;">
                                        <div>Perfil</div>
                                        <span>Adicione a foto</span>
                                    </li>
                                </ul>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group" style="padding: 8px 12px;">
                                            <label for="nome" class="control-label">Título</label>
                                            <input type="text" class="form-control" id="nome" name="nome" required ng-model="registro.nome" style="width:95%;" />
                                        </div>
                                        <div class="form-group" style="padding: 8px 12px;">
                                            <label for="email" class="control-label">E-mail</label>
                                            <input type="email" class="form-control" id="email" name="email" required ng-model="registro.email" style="width:95%;" />
                                        </div>
                                        <div class="form-group" style="padding: 8px 12px;">
                                            <label for="password" class="control-label">Senha</label>
                                            <input type="password" class="form-control" id="password" name="password" ng-model="registro.password" style="width:95%;" />
                                        </div>
                                        <div class="form-group" style="padding: 8px 12px;">
                                            <label for="numdoc" class="control-label">Número do Registro</label>
                                            <input type="text" class="form-control" id="numdoc" name="numdoc" required ng-model="registro.info.numdoc" style="width:95%;" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group" style="padding: 8px 12px 8px 50px;">
                                            <label for="facebook" class="control-label">Seu link do Facebook</label>
                                            <input type="text" class="form-control" id="facebook" name="password" ng-model="registro.redesociais.facebook" />
                                        </div>
                                        <div class="form-group" style="padding: 8px 12px 8px 50px;">
                                            <label for="twitter" class="control-label">Seu link do Twitter</label>
                                            <input type="text" class="form-control" id="twitter" name="twitter" ng-model="registro.redesociais.twitter" />
                                        </div>
                                        <div class="form-group" style="padding: 8px 12px 8px 50px;">
                                            <label for="linkedin" class="control-label">Seu link do Linkedin</label>
                                            <input type="linkedin" class="form-control" id="linkedin" name="linkedin" ng-model="registro.redesociais.linkedin" />
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="linkedin" class="control-label">Breve Descrição (Máximo de 250 caracteres). Total: {{wordCountDescricao}}</label>
                                            <textarea maxlength="250" class="form-control textAreaAutoSize" required ng-model="registro.info.descricao"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="panel-footer">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <button id="botaoSalvar" type="button" ng-click="salva()" class="btn btn-info pull-right" ng-disabled="form.$invalid">
                                                        Avançar
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>