<div class="page-content">
    <div class="container-fluid" style="margin-top:15px;">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-sky">
                    <div class="panel-heading">
                        <h2>COMENTÁRIOS DO BLOG</h2>
                        <div class="panel-ctrls pull-left">
                            <i class="separator"></i>
                            {{nomePagina}}
                            <i class="separator"></i>
                            {{totalItems}}
                        </div>
                        <div class="panel-ctrls pull-right" style="margin-top:-1px; margin-left:5px;">
                            <a ng-href="#/blog" class="btn btn-sm btn-default">
                                <i class="fa fa-arrow-left"></i> VOLTAR PARA O BLOG
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tr>
                                    <th>NOME</th>
                                    <th>POSTADO EM</th>
                                    <th class="text-right">AÇÃO</th>
                                </tr>
                                <tr ng-repeat="registro in registros">
                                    <td><a ng-click="ver(registro)">{{registro.nome}}</a></td>
                                    <td>{{registro.dtInclusao|toShortDateBrazil}}</td>
                                    <td>
                                        <div class="pull-right">
                                            <a class="btn btn-sm size40" ng-class="{'btn-info': registro.isAtivo, 'btn-danger': !registro.isAtivo}" ng-click="status($event, registro)">
                                                {{registro.isAtivo|simNao}}
                                            </a>
                                            <a ng-click="ver(registro)" class="btn btn-sm btn-info" title="Ver">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <a ng-click="remove(registro)" class="btn btn-sm btn-danger" title="Excluir">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-hide="registros.length">
                                    <td colspan="7" class="text-center">
                                        Nenhum Registro Encontrado
                                    </td>
                                </tr>
                            </table>
                            <uib-pagination ng-show="(totalItems > pageSize)" class="pull-right" total-items="totalItems" max-size="maxSize" ng-model="currentPage" ng-change="pageChanged()" items-per-page="pageSize"></uib-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>