<!DOCTYPE html>
<html ng-app="guiadr">
  <head>
    <base href="/restrito/" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>GuiaDr</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,400,300' rel='stylesheet' type='text/css'/>
    <link href="../vendor/portal/css/bootstrap.css" rel="stylesheet"/>
    <link href="../vendor/portal/css/bootstrap-theme.css" type="text/css" rel="stylesheet" />
    <link href="../vendor/plugins/font-awesome/css/font-awesome.min.css" media="all" type="text/css" rel="stylesheet" />
    <link href="../vendor/portal/css/theme.css" type="text/css" rel="stylesheet" />
  </head>
  <body role="document" class="home">
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand media" href="/#/home">
            <img src="../vendor/portal/img/logo-oficial-o.png">
          </a>
        </div>
      </div>
    </div>
    <div class="wrapper" role="main">
      <div class="container doctor_controls">
        <div class="row">
          <div class="tab-content horizontal">
              <div class="row book_section" ng-hide="isDisponivel">
                <div class="col-md-12 col-sm-12">
                  <div class="row">
                    <label class="col-md-6">
                      <div class="jumbotron">
                        <div class="container">
                          <h2 class="text-center text-normalize">Atenção</h2>
                          <p class="text-center text-normalize">Entre com os dados de e-mail e senha nos campos da caixa ao lado.</p>
                          <p>&nbsp;</p>
                          <a href="/" class="btn btn-primary pull-left">Voltar ao site</a>
                        </div>
                      </div>
                    </label>
                    <label class="col-md-6">
                      <div class="jumbotron">
                        <div class="container">
                          <form class="tab-pane active fade in book row" autocomplete="off" method="POST">
                            <div class="row">
                              <label class="col-md-6 col-sm-6 col-xs-6">Email<br/>
                                <input type="text" class="client_name" id="username" name="username" required placeholder="E-mail" />
                              </label>
                              <label class="col-md-6 col-sm-6 col-xs-6">Senha*<br/>
                                <input type="password" class="client_name" id="password" name="password" required placeholder="Digite sua Senha" />
                              </label>
                              <label class="col-md-6 col-sm-6 col-xs-6"><br />
                                <% if (message != "") { %>
                                  <div class="alert alert-danger"><%=message %></div>
                                <% } %>
                                <button type="submit" class="btn btn-primary pull-right">Entrar</button>
                              </label>
                            </div>
                          </form>
                        </div>
                      </div>
                    </label>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>

      <div class="mastfoot">
        <div class="container">
          <div class="footer row bottom">
            <p class="footer-credits hidden-xs">Planejado por <a href="http://www.poloid.com.br" target="_blank">PoloID</a></p>
            <div class="footer social">
              <div class="custom-facebook-button">
                <a class="facebook-button fa fa-lg fa-facebook" title="Curta no Facebook" rel="me" href="https://www.facebook.com/agenciapoloid"></a>
              </div>
              <div class="custom-linkedin-button">
                <a class="linkedin-button fa fa-lg fa-linkedin" href="https://www.facebook.com/agenciapoloid"></a>
              </div>
              <div class="custom-tweet-button">
                <a class="twitter-button fa fa-lg fa-twitter" href="https://www.facebook.com/agenciapoloid"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>