<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
      <base href="/">
      <title>GuiaDr :: Painel</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
      <meta name="robots" content="noindex, nofollow" />
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <meta name="apple-touch-fullscreen" content="yes" />
      <meta name="description" content="" />
      <meta name="author" content="Michael Lincohn (michael.lincohn@gmail.com)" />
      <link type="text/css" href="vendor/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
      <link type="text/css" href="vendor/painel/css/styles.css" rel="stylesheet">
  </head>

  <body class="focused-form">
    <div class="container" id="login-form">
      <a class="login-logo">
        <img src="vendor/portal/img/logo-oficial.png">
      </a>
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2>Entrar no painel</h2>
            </div>
            <div class="panel-body">
              <form action="" role="form" class="form-horizontal" id="validate-form" method="POST">
                  <div class="form-group">
                      <div class="col-xs-12">
                          <div class="input-group">
                              <span class="input-group-addon">
                                  <i class="fa fa-user"></i>
                              </span>
                              <input name="username" type="text" class="form-control" placeholder="Usuário" data-parsley-minlength="6" required="" />
                          </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-xs-12">
                          <div class="input-group">
                              <span class="input-group-addon">
                                  <i class="fa fa-key"></i>
                              </span>
                              <input name="password" type="password" class="form-control" id="password" placeholder="Senha" />
                          </div>
                      </div>
                  </div>
                  <div class="panel-footer">
                      <div class="clearfix">
                        <% if (message != "") { %>
                          <div class="alert alert-danger"><%=message %></div>
                        <% } %>
                        <button type="submit" class="btn btn-primary pull-right">Entrar</button>
                      </div>
                  </div>
              </form>
            </div>
          </div>
          <footer role="contentinfo">
            <div class="clearfix">
              <ul class="list-unstyled list-inline pull-left">
                <li>
                  <h6 style="margin: 0;"> &copy; 2016 <a href="http://www.poloid.com.br" target="_blank">PoloID</a></h6>
                </li>
              </ul>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>