<!DOCTYPE html>
<html ng-app="guiadr" ng-init="menu=1;tab=1;tabs=1;tabAgendamento=1;tabCadastro=1;tabCadastroPaciente=1;">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>GuiaDr</title>
    <meta name="author" content="Michael Lincohn (michael.lincohn@gmail.com)" />
    <meta name="description" content="O GuiaDR é um sistema on-line de agendamento de consultas e exames em qualquer área de cuidados com a saúde e bem-estar." />
    <meta name="keywords" content="GuiaDr, Consulta médica, Agende seus exames, especialistas em saúde, controle de pacientes, controle de consultas" />
    <meta name="robots" content="INDEX, FOLLOW" />
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,400,300' rel='stylesheet' type='text/css'/>
    <link href="vendor/plugins/angular-loading-bar/src/loading-bar.css" type="text/css" rel="stylesheet" media="all">  
    <link href="vendor/portal/css/bootstrap.css" rel="stylesheet"/>
    <link href="vendor/portal/css/bootstrap-theme.css" type="text/css" rel="stylesheet" />
    <link href="vendor/portal/css/owl.carousel.css" type="text/css" rel="stylesheet" />
    <link href="vendor/plugins/form-select2/select2.css" type="text/css" rel="stylesheet" />
    <link href="vendor/portal/css/jquery-ui.css" rel="stylesheet" />
    <link href="vendor/portal/css/melon.datepicker.css" type="text/css" rel="stylesheet" />
    <link href="vendor/plugins/font-awesome/css/font-awesome.min.css" media="all" type="text/css" rel="stylesheet" />
    <!--link href="vendor/plugins/jquery-jcrop/jquery.Jcrop.css" type="text/css" rel="stylesheet" media="all"-->
    <link href="vendor/plugins/iCheck/skins/flat/green.css" type="text/css" rel="stylesheet">
    <link href="vendor/plugins/iCheck/skins/flat/_all.css" type="text/css" rel="stylesheet">
    <link href="vendor/plugins/ng-tags-input/ng-tags-input.min.css" type="text/css" rel="stylesheet">
    <link href="vendor/portal/css/theme.css" type="text/css" rel="stylesheet" />
  </head>
  <body role="document" class="home" id="sectionTop">
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand media" href="/#/home">
            <img src="vendor/portal/img/logo-oficial-o.png">
          </a>
          <table class="header-info hidden-xs hidden-sm">
            <tr>
              <!--td class="description">
                Agendamento online de consultas e serviços de saúde
              </td-->
              <td class="phone">
                
              </td>
            </tr>
          </table>
          <!--div class="navbar-form hidden-sm navbar-right" style="margin-left:15px;">
            <div class="input-group header-search">
              <select class="form-control">
                <option selected>Filtre por Cidade</option>
                <option value="1">- Rio Grande do Norte</option>
                <option value="2">- São Paulo</option>
              </select>
            </div>
          </div>
          <div class="navbar-form hidden-sm navbar-right">
            <div class="input-group header-search">
              <select class="form-control">
                <option selected>Filtre por Estado</option>
                <option value="1">- Brasil</option>
                <option value="2">- Portugal</option>
              </select>
            </div>
          </div-->
          <!--form action="#" class="navbar-form hidden-sm navbar-right">
            <div class="input-group header-search">
              <div class="input-group-btn">
                <button class="btn btn-info">
                  <span class="fa fa-search medical_search"></span>
                </button>
              </div>
              <input type="search" placeholder="Buscar Profissional" class="search-query" />
            </div>
          </form-->
        </div>
      </div>
      <nav class="nav main-menu">
        <div class="container">
          <div class="navbar-form navbar-right" role="form">
            <a href="/restrito" class="btn btn-lg btn-success" id="lkbIn">Entrar</a>
            <a href="/#/cadastro" class="btn btn-lg btn-default">Cadastro</a>
          </div>
          <div class="navbar-collapse collapse top-menu">
            <ul class="nav navbar-inner navbar-nav navbar-left">
              <li ng-class="{'active' : menu==1}" ng-click="menu=1">
                <a href="/#/home">Início</a>
              </li>
              <li ng-class="{'active' : menu==2}" ng-click="menu=2">
                <a href="/#/p/sobre" data-target="#sobre">Sobre Nós</a>
              </li>
              <li ng-class="{'active' : menu==3}" ng-click="menu=3">
                <a href="/#/profissional" data-target="#profissional">Nossos Especialistas</a>
              </li>
              <li ng-class="{'active' : menu==4}" ng-click="menu=4">
                <a href="/#/blog" data-target="#blog">Blog</a>
              </li>
              <li ng-class="{'active' : menu==5}" ng-click="menu=5">
                <a href="/#/contato" data-target="#contato">Contato</a>
              </li>
              <li ng-class="{'active' : menu==6}" ng-click="menu=6">
                <a href="/#/p/termos-de-uso" data-target="#servicos" style="padding-right:5px;">Termos de uso</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="wrapper" role="main">
      <div ng-view=""></div>

      <div class="mastfoot">
        <div class="container">
          <div class="footer row top">
            <aside class="widget col-sm-6 col-xs-12 col-md-3">
              <h4 class="widget-title">Menu</h4>
              <ul>
                <li class="page_item"><a href="/#/home">Início</a></li>
                <li class="page_item"><a href="/#/p/sobre">Sobre nós</a></li>
                <li class="page_item"><a href="/#/p/servicos">Serviços</a></li>
                <li class="page_item"><a href="/#/profissional">Especialistas</a></li>
                <li class="page_item"><a href="/#/contato">Contato</a></li>
              </ul>
            </aside>
            <aside class="widget col-sm-6 col-xs-12 col-md-4">
              <h4 class="widget-title">Sobre</h4>
              <div class="textwidget">GuiaDr. A forma mais fácil de cuidar da sua saúde. <br>Segunda - Sábado 09h às 18h</div>
            </aside>
            <!--aside class="widget col-sm-6 col-xs-12 col-md-3">
              <h4 class="widget-title">Últimos tweets</h4>
              <div class="recent_tweets footer-widget-single">
                <a href="#" title="">@bestwebsoft</a> Parabéns GuiaDr. A solução que faltava no RN.
                <div class="recent_tweets_time">15 minutos atrás</div>
              </div>
            </aside-->
            <aside class="widget col-sm-6 col-xs-12 col-md-3">
              <h4 class="widget-title">Fale Conosco</h4>
              <div class="textwidget">
                <address>
                  Av. Conselho Rodrigues Alves, Nº: 539, j134<br />
                  Vila Mariana - São Paulo/SP
                </address>
                <a href="tel:+558420106165">T.: +55 (11) 2361-2044</a><br/>
                <a href="mailto:contato@guiadr.com.br">E.: contato@guiadr.com.br</a>
              </div>
            </aside>
            <aside class="widget col-sm-6 col-xs-12 col-md-3">
              <h4 class="widget-title">Apoio</h4>
              <div class="textwidget">
                <img src="vendor/portal/img/ocb_sescoop-2.png" width="170">
              </div>
            </aside>
          </div>
          <div class="clear"></div>
          <div class="footer row bottom">
            <p class="footer-credits hidden-xs">Planejado por <a href="http://www.poloid.com.br" target="_blank">PoloID</a></p>
            <div class="footer social">
              <div class="custom-facebook-button">
                <a class="facebook-button fa fa-lg fa-facebook" title="Curta no Facebook" rel="me" href="https://www.facebook.com/GuiDrBrasil"></a>
              </div>
              <div class="custom-linkedin-button">
                <a class="linkedin-button fa fa-lg fa-linkedin" href="https://www.facebook.com/agenciapoloid"></a>
              </div>
              <div class="custom-tweet-button">
                <a class="twitter-button fa fa-lg fa-twitter" href="https://www.facebook.com/agenciapoloid"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="vendor/plugins/jquery/dist/jquery.js"></script>
    <script src="vendor/plugins/jquery-jcrop/jquery.Jcrop.min.js"></script>
    <script src="vendor/plugins/angular/angular.js"></script>
    <script src="vendor/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendor/plugins/ui-bootstrap/ui-bootstrap-tpls-1.1.2.min.js"></script>
    <!--script src="vendor/portal/ui-bootstrap/ui-bootstrap-tpls-1.1.2.min.js"></script-->
    <!--script src="vendor/portal/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script-->
    <!--script src="vendor/portal/bootstrap-datepicker/js/locales/bootstrap-datepicker.pt-BR.js"></script-->
    <script src="vendor/plugins/angular-sanitize/angular-sanitize.js"></script>
    <script src="vendor/plugins/angular-route/angular-route.js"></script>
    <script src="vendor/plugins/angular-resource/angular-resource.js"></script>
    <script src="vendor/plugins/angular-animate/angular-animate.js"></script>

    <script src="vendor/plugins/angular-loading-bar/src/loading-bar.js"></script>
    <script src="vendor/plugins/bootbox.js/bootbox.js" type="text/javascript"></script>
    <script src="vendor/plugins/ng-file-upload-shim/ng-file-upload-shim.js"></script>
    <script src="vendor/plugins/ng-file-upload/ng-file-upload.js"></script>
    <script src="vendor/plugins/ng-jcrop/ng-jcrop.js" type="text/javascript"></script>
    <script src='vendor/plugins/ng-infinite-scroll/ng-infinite-scroll.js'></script>
    <script src='vendor/plugins/ng-scroll-to/ng-scrollto.js'></script>
    <script src="vendor/plugins/ng-tags-input/ng-tags-input.min.js" type="text/javascript"></script>
    <script src="vendor/plugins/moment/min/moment.min.js"></script>
    <script src="vendor/plugins/moment/locale/pt-br.js"></script>
    <script src="http://maps.google.com/maps/api/js" type="text/javascript"></script>
    <script src="vendor/plugins/iCheck/icheck.min.js" type="text/javascript"></script>

    <script src="portal/js/router.js"></script>

    <script src="vendor/portal/js/owl.carousel.js" type="text/javascript"></script>
    <script src="vendor/plugins/form-select2/select2.min.js" type="text/javascript"></script>
    <!--script src="vendor/portal/js/jquery.ikSelect.min.js" type="text/javascript"></script-->
    <script src="vendor/plugins/jquery-ui/jquery-ui.js" type="text/javascript"></script>

    <script src="portal/js/services/MainService.js"></script>
    <script src="portal/js/directives/MainDirective.js"></script>
    <script src="portal/js/filters/MainFilters.js"></script>

    <script src="portal/js/controllers/CadastroCtrl.js"></script>
    <script src="portal/js/controllers/ProfissionalCtrl.js"></script>
    <script src="portal/js/controllers/PaginaCtrl.js"></script>
    <script src="portal/js/controllers/BlogCtrl.js"></script>
    <script src="portal/js/controllers/ContatoCtrl.js"></script>
    <script src="portal/js/controllers/IndexCtrl.js"></script>
    <script src="portal/js/controllers/ErrorCtrl.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-61456195-2', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>