<!DOCTYPE html>
<html lang="pt-BR" ng-app="guiadr">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>GuiaDr</title>
  <link href="../vendor/portal/css/bootstrap.min.css" rel="stylesheet"/>
  <link href='../vendor/plugins/font-awesome/css/font-awesome.min.css' rel='stylesheet' type='text/css'/>
  <link rel="stylesheet" href="../vendor/portal/css/bootstrap.css"  type="text/css" />
  <link rel="stylesheet" href="../vendor/portal/css/bootstrap-theme.css" type="text/css" />
  <link rel="stylesheet" href="../vendor/portal/css/font-awesome.min.css" media="all" type="text/css"/>
  <link rel="stylesheet" href="../vendor/portal/css/theme.css" type="text/css" />
</head>
<body role="document" class="home">
  <div class="wrapper" role="main">
    <div class="header-bottom clearfix">
      <div class="breadcrumbs container">
        <nav class="pull-left row">
          <div class="page-header"><h1></h1></div>
        </nav>
      </div>
    </div>
    <div class="widgets-area">
      <div class="jumbotron">
        <div class="container page_404">
          <h2 id="text_404">OFF</h2>
          <p class="text-center">Este site temporáriamente fora do ar.</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>