<!doctype html>
<html ng-app="guiadr">
  <head>
    <meta charset="UTF-8">
    <base href="/painel/" />
    <title>GuiaDr :: PoloID</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="robots" content="NOINDEX, NOFOLLOW" />
    <meta name="author" content="Michael Lincohn (michael.lincohn@gmail.com)" />
    <link type="text/css" href="../vendor/plugins/jquery-jcrop/jquery.Jcrop.css" rel="stylesheet" media="all">
    <link type="text/css" href="../vendor/plugins/angular-loading-bar/src/loading-bar.css" rel="stylesheet" media="all">
    <link type="text/css" href="../vendor/plugins/form-select2/select2.css" rel="stylesheet">
    <link type="text/css" href="../vendor/plugins/ng-tags-input/ng-tags-input.min.css" rel="stylesheet">
    <link type="text/css" href="../vendor/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link type="text/css" href="../vendor/plugins/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="../vendor/plugins/ng-ckeditor/ng-ckeditor.css" rel="stylesheet">
    <link type="text/css" href="../vendor/plugins/iCheck/skins/flat/_all.css" rel="stylesheet">
    <link type="text/css" href="../vendor/painel/css/styles.css" rel="stylesheet">
  </head>

  <body class="infobar-offcanvas">
    <header id="topnav" class="navbar navbar-midnightblue navbar-fixed-top clearfix" role="banner">
      <a class="navbar-brand" href="#/index">
        <img src="../vendor/portal/img/logo-oficial-o.png" />
      </a>
      <div class="yamm navbar-left navbar-collapse collapse in">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
              Menu Administrativo<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" style="width:700px;">
              <li>
                <div class="yamm-content container-sm-height">
                  <div class="row row-sm-height yamm-col-bordered">
                    <div class="col-sm-3 col-sm-height yamm-col">
                      <h3 class="yamm-category">Administrativo</h3>
                      <ul class="list-unstyled mb20">
                        <li><a href="#/paciente">Pacientes</a></li>
                        <li><a href="#/horario">Horários</a></li>
                        <!--li><a href="#/agenda">Agenda de consultas</a></li-->
                        <li><a href="#/disponibilidade">Disponibilidade</a></li>
                        <!--li><a href="#/pagamento">Pagamentos</a></li>
                        <li><a href="#/relatorio">Relatórios</a></li-->
                        <li><a href="#/clinica">Clínicas</a></li>
                        <li><a href="#/profissional">Profissionais</a></li>
                        <li><a href="#/categoria">Categorias</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-3 col-sm-height yamm-col">
                      <h3 class="yamm-category">Social</h3>
                      <ul class="list-unstyled mb20">
                        <li><a href="#/mensagem">Mensagens</a></li>
                        <!--li><a href="#/depoimento">Depoimentos</a></li-->
                        <li><a href="#/editoria">Editorias</a></li>
                        <li><a href="#/blog">Blog</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-3 col-sm-height yamm-col">
                      <h3 class="yamm-category">Sistema</h3>
                      <ul class="list-unstyled mb20">
                        <!--li><a href="#/servico">Serviços</a></li-->
                        <li><a href="#/pagina">Páginas</a></li>
                        <li><a href="#/usuario">Usuários</a></li>
                        <li><a href="#/pais">Países</a></li>
                        <li><a href="#/estado">Estados</a></li>
                        <li><a href="#/cidade">Cidades</a></li>
                        <li><a href="#/bairro">Bairros</a></li>
                        <li><a href="#/logradouro">Logradouros</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-3 col-sm-height yamm-col">
                      <h3 class="yamm-category">Ajuda</h3>
                      <ul class="list-unstyled mb20">
                        <li><a href="#/faq">Perguntas Frequentes</a></li>
                        <!--li><a href="#/faleconosco">Fale Conosco</a></li-->
                      </ul>
                      <h3 class="yamm-category">Meus Dados</h3>
                      <ul class="list-unstyled mb20">
                        <li><a href="#/conta"><i class="fa fa-bookmark"></i> Conta</a></li>
                        <li><a href="auth/logout"><i class="fa fa-sign-out"></i> Sair</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li>
            <a href="/#/home" target="_blank">
              Ver o site <i class="fa fa-desktop"></i>
            </a>
          </li>
        </ul>
      </div>

      <ul class="nav navbar-nav toolbar pull-right" style="margin-right:10px;">
        <!--li class="dropdown toolbar-icon-bg hidden-xs">
          <a class="hasnotifications dropdown-toggle" data-toggle='dropdown'>
            <span class="icon-bg">
              <i class="fa fa-fw fa-envelope"></i>
            </span>
            <span class="badge badge-info">5</span>
          </a>
          <div class="dropdown-menu dropdown-alternate messages arrow">
            <div class="dd-header">
              <span>Mensagens</span>
              <span><a href="#/mensagem">VER TODAS</a></span>
            </div>
            <div class="scrollthis scroll-pane">
              <ul class="scroll-content">
                <li class="">
                  <a href="#">
                    <img class="msg-avatar" src="http://placehold.it/300" alt="avatar" />
                    <div class="msg-content">
                      <span class="name">Steven Shipe</span>
                      <span class="msg">Nonummy nibh epismod lorem ipsum</span>
                    </div>
                    <span class="msg-time">30s</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img class="msg-avatar" src="http://placehold.it/300" alt="avatar" />
                    <div class="msg-content">
                      <span class="name">Roxann Hollingworth <i class="fa fa-paperclip attachment"></i></span>
                      <span class="msg">Lorem ipsum dolor sit amet consectetur adipisicing elit</span>
                    </div>
                    <span class="msg-time">5m</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img class="msg-avatar" src="http://placehold.it/300" alt="avatar" />
                    <div class="msg-content">
                      <span class="name">Diamond Harlands</span>
                      <span class="msg">:)</span>
                    </div>
                    <span class="msg-time">3h</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img class="msg-avatar" src="http://placehold.it/300" alt="avatar" />
                    <div class="msg-content">
                      <span class="name">Michael Serio <i class="fa fa-paperclip attachment"></i></span>
                      <span class="msg">Sed distinctio dolores fuga molestiae modi?</span>
                    </div>
                    <span class="msg-time">12h</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img class="msg-avatar" src="http://placehold.it/300" alt="avatar" />
                    <div class="msg-content">
                      <span class="name">Matt Jones</span>
                      <span class="msg">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et mole</span>
                    </div>
                    <span class="msg-time">2d</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img class="msg-avatar" src="http://placehold.it/300" alt="avatar" />
                    <div class="msg-content">
                      <span class="name">John Doe</span>
                      <span class="msg">Neque porro quisquam est qui dolorem</span>
                    </div>
                    <span class="msg-time">7d</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="dd-footer"><a href="#/mensagem">Ver todas as mensagens</a></div>
          </div>
        </li-->
        <li class="dropdown toolbar-icon-bg">
          <a class="dropdown-toggle" data-toggle='dropdown'>
            <span class="icon-bg">
              <i class="fa fa-fw fa-user"></i>
            </span>
          </a>
          <ul class="dropdown-menu userinfo arrow">
            <li><a href="#/home"><span class="pull-left"><%=usuarioLogado%></span> <i class="pull-right fa fa-user"></i></a></li>
            <li class="divider"></li>
            <li><a href="#/conta"><span class="pull-left">Minha Conta</span> <i class="pull-right fa fa-user"></i></a></li>
            <!--li><a href="#/settings"><span class="pull-left">Configurações</span> <i class="pull-right fa fa-cog"></i></a></li-->
            <li class="divider"></li>
            <li><a href="auth/logout"><span class="pull-left">Sair</span> <i class="pull-right fa fa-sign-out"></i></a></li>
          </ul>
        </li>
      </ul>
    </header>

    <div id="wrapper">
      <div id="layout-static">
        <div class="static-content-wrapper" style="width:100%;">
          <div class="static-content">
            <div class="page-content" ng-view>

            </div>
            <footer role="contentinfo">
              <div class="clearfix">
                <ul class="list-unstyled list-inline pull-left">
                  <li>
                      <h6 style="margin:0;"> &copy; 2016 GuiaDr - Agendamento online de consultas e serviços de saúde</h6>
                  </li>
                </ul>
              </div>
            </footer>
          </div>
        </div>
      </div>
    </div>

    <script src="../vendor/plugins/jquery/dist/jquery.js"></script>
    <script src="../vendor/plugins/jquery-ui/jquery-ui.js"></script>
    <script src="../vendor/plugins/jquery-jcrop/jquery.Jcrop.min.js"></script>
    <script src="../vendor/plugins/angular/angular.js"></script>

    <script src="../vendor/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../vendor/plugins/ui-bootstrap/ui-bootstrap-tpls-1.1.2.min.js"></script>
    <script src="../vendor/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="../vendor/plugins/bootstrap-datepicker/dist/locales/bootstrap-datepicker.pt-BR.min.js"></script>
    <script src="../vendor/plugins/angular-sanitize/angular-sanitize.js"></script>
    <script src="../vendor/plugins/angular-route/angular-route.js"></script>
    <script src="../vendor/plugins/angular-resource/angular-resource.js"></script>
    <script src="../vendor/plugins/angular-animate/angular-animate.js"></script>

    <script src="../vendor/plugins/angular-loading-bar/src/loading-bar.js"></script>
    <script src="../vendor/plugins/bootbox.js/bootbox.js" type="text/javascript"></script>
    <script src="../vendor/plugins/form-select2/select2.min.js" type="text/javascript"></script>
    <script src="../vendor/plugins/form-autosize/jquery.autosize-min.js" type="text/javascript"></script>
    <script src="../vendor/plugins/ng-file-upload-shim/ng-file-upload-shim.js"></script>
    <script src="../vendor/plugins/ng-file-upload/ng-file-upload.js"></script>
    <script src="../vendor/plugins/ng-tags-input/ng-tags-input.min.js" type="text/javascript"></script>
    <script src="../vendor/plugins/ng-jcrop/ng-jcrop.js" type="text/javascript"></script>
    <script src="../vendor/plugins/ng-ckeditor/libs/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script src="../vendor/plugins/ng-ckeditor/ng-ckeditor.js" type="text/javascript"></script>
    <script src="../vendor/plugins/moment/min/moment.min.js"></script>
    <script src="../vendor/plugins/moment/locale/pt-br.js"></script>
    <script src="../vendor/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
    <script src="../vendor/plugins/form-inputmask/jquery.inputmask.bundle.min.js" type="text/javascript"></script>
    <script src="../painel/js/router.js"></script>

    <script src="../painel/js/services/MainService.js"></script>    
    <script src="../painel/js/directives/MainDirectives.js"></script>
    <script src="../painel/js/filters/MainFilters.js"></script>
    
    <script src="../painel/js/controllers/PaisPainelCtrl.js"></script>
    <script src="../painel/js/controllers/EstadoPainelCtrl.js"></script>
    <script src="../painel/js/controllers/CidadePainelCtrl.js"></script>
    <script src="../painel/js/controllers/BairroPainelCtrl.js"></script>
    <script src="../painel/js/controllers/LogradouroPainelCtrl.js"></script>
    <script src="../painel/js/controllers/HorarioPainelCtrl.js"></script>
    <script src="../painel/js/controllers/DisponibilidadePainelCtrl.js"></script>
    <script src="../painel/js/controllers/ConsultaPainelCtrl.js"></script>
    <script src="../painel/js/controllers/PacientePainelCtrl.js"></script>
    <script src="../painel/js/controllers/ComentarioPainelCtrl.js"></script>
    <script src="../painel/js/controllers/EditoriaPainelCtrl.js"></script>
    <script src="../painel/js/controllers/CategoriaPainelCtrl.js"></script>
    <script src="../painel/js/controllers/BlogFotoPainelCtrl.js"></script>
    <script src="../painel/js/controllers/BlogPainelCtrl.js"></script>
    <script src="../painel/js/controllers/FaqPainelCtrl.js"></script>
    <script src="../painel/js/controllers/ClinicaPerfilPainelCtrl.js"></script>
    <script src="../painel/js/controllers/ClinicaLocaisPainelCtrl.js"></script>
    <script src="../painel/js/controllers/ClinicaProfissionalPainelCtrl.js"></script>
    <script src="../painel/js/controllers/ClinicaPainelCtrl.js"></script>
    <script src="../painel/js/controllers/PaginaPainelCtrl.js"></script>
    <script src="../painel/js/controllers/ProfissionalPerfilPainelCtrl.js"></script>
    <script src="../painel/js/controllers/ProfissionalLocaisPainelCtrl.js"></script>
    <script src="../painel/js/controllers/ProfissionalCategoriaPainelCtrl.js"></script>
    <script src="../painel/js/controllers/ProfissionalPainelCtrl.js"></script>
    <script src="../painel/js/controllers/ContatoPainelCtrl.js"></script>
    <script src="../painel/js/controllers/MensagemPainelCtrl.js"></script>
    <script src="../painel/js/controllers/UsuarioContaPainelCtrl.js"></script>
    <script src="../painel/js/controllers/UsuarioPainelCtrl.js"></script>
    <script src="../painel/js/controllers/IndexPainelCtrl.js"></script>
  </body>
</html>