<!DOCTYPE html>
<html ng-app="guiadr" ng-init="menu=1;tabCadastro=1;">
  <head>
    <base href="/restrito/" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>GuiaDr</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,400,300' rel='stylesheet' type='text/css'/>
    <link href="../vendor/plugins/angular-loading-bar/src/loading-bar.css" type="text/css" rel="stylesheet" media="all">  
    <link href="../vendor/portal/css/bootstrap.css" rel="stylesheet"/>
    <link href="../vendor/portal/css/bootstrap-theme.css" type="text/css" rel="stylesheet" />
    <link href="../vendor/plugins/form-select2/select2.css" type="text/css" rel="stylesheet" />
    <link href="../vendor/plugins/ng-tags-input/ng-tags-input.min.css" type="text/css" rel="stylesheet">
    <link href="../vendor/portal/css/jquery-ui.css" rel="stylesheet" />
    <link href="../vendor/portal/css/melon.datepicker.css" type="text/css" rel="stylesheet" />
    <link href="../vendor/plugins/font-awesome/css/font-awesome.min.css" media="all" type="text/css" rel="stylesheet" />
    <link href="../vendor/plugins/jquery-jcrop/jquery.Jcrop.css" rel="stylesheet" media="all" type="text/css">
    <link href="../vendor/plugins/iCheck/skins/flat/green.css" type="text/css" rel="stylesheet">
    <link href="../vendor/plugins/iCheck/skins/flat/_all.css" type="text/css" rel="stylesheet">
    <link href="../vendor/portal/css/theme.css" type="text/css" rel="stylesheet" />
  </head>
  <body role="document" class="home">
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand media" href="/#/home">
            <img src="../vendor/portal/img/logo-oficial-o.png">
          </a>
        </div>
      </div>
      <nav class="nav main-menu">
        <div class="container">
          <div class="navbar-form navbar-right" role="form">
            <!--a href="/#/home" class="btn btn-lg btn-success" id="lkbIn">Site</a-->
            <a href="/restrito/auth/logout" class="btn btn-lg btn-success">Sair</a>
          </div>
          <div class="navbar-collapse collapse top-menu">
            <ul class="nav navbar-inner navbar-nav navbar-left">
              <li ng-class="{'active' : menu==1}" ng-click="menu=1">
                <a ng-href="#/home">Início</a>
              </li>
              <li ng-class="{'active' : menu==2}" ng-click="menu=2">
                <a ng-href="#/consulta" data-target="#consulta">Consultas</a>
              </li>
              <li ng-class="{'active' : menu==3}" ng-click="menu=3">
                <a href="#/disponibilidade" data-target="#disponibilidade">Disponibilidade</a>
              </li>
              <li ng-class="{'active' : menu==4}" ng-click="menu=4">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuDivider1" data-toggle="dropdown">
                  Meus Dados
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li role="presentation">
                    <a role="menuitem" tabindex="-1" ng-href="#/profissional">Básicos</a>
                  </li>
                  <li role="presentation">
                    <a role="menuitem" tabindex="-1" ng-href="#/profissionalLocais">Endereços</a>
                  </li>
                  <li role="presentation">
                    <a role="menuitem" tabindex="-1" ng-href="#/profissionalCategoria">Especialidades</a>
                  </li>
                  <li role="presentation">
                    <a role="menuitem" tabindex="-1" ng-href="#/profissionalPerfil">Perfil (Foto)</a>
                  </li>
                </ul>
              </li>
              <!--li ng-class="{'active' : menu==5}" ng-click="menu=5">
                <a href="#/fatura" data-target="#fatura">Faturas</a>
              </li>
              <li ng-class="{'active' : menu==6}" ng-click="menu=6">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuDivider1" data-toggle="dropdown">
                  Ajuda
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li role="presentation">
                    <a role="menuitem" tabindex="-1" ng-href="#/faq">Perguntas Frequentes</a>
                  </li>
                  <li role="presentation">
                    <a role="menuitem" tabindex="-1" ng-href="#/faleconosco">Fale Conosco</a>
                  </li>
                  <li role="presentation">
                    <a role="menuitem" tabindex="-1" ng-href="#/informativo">Informativo</a>
                  </li>
                </ul>
              </li-->
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="wrapper" role="main">
      <div ng-view=""></div>

      <div class="mastfoot">
        <div class="container">
          <div class="footer row bottom">
            <p class="footer-credits hidden-xs">Planejado por <a href="http://www.poloid.com.br" target="_blank">PoloID</a></p>
            <div class="footer social">
              <div class="custom-facebook-button">
                <a class="facebook-button fa fa-lg fa-facebook" title="Curta no Facebook" rel="me" href="https://www.facebook.com/agenciapoloid"></a>
              </div>
              <div class="custom-linkedin-button">
                <a class="linkedin-button fa fa-lg fa-linkedin" href="https://www.facebook.com/agenciapoloid"></a>
              </div>
              <div class="custom-tweet-button">
                <a class="twitter-button fa fa-lg fa-twitter" href="https://www.facebook.com/agenciapoloid"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="../vendor/plugins/jquery/dist/jquery.js"></script>
    <script src="../vendor/plugins/jquery-jcrop/jquery.Jcrop.min.js"></script>
    <script src="../vendor/plugins/angular/angular.js"></script>
    <script src="../vendor/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../vendor/plugins/ui-bootstrap/ui-bootstrap-tpls-1.1.2.min.js"></script>
    <script src="../vendor/plugins/angular-sanitize/angular-sanitize.js"></script>
    <script src="../vendor/plugins/angular-route/angular-route.js"></script>
    <script src="../vendor/plugins/angular-resource/angular-resource.js"></script>
    <script src="../vendor/plugins/angular-animate/angular-animate.js"></script>

    <script src="../vendor/plugins/angular-loading-bar/src/loading-bar.js"></script>
    <script src="../vendor/plugins/bootbox.js/bootbox.js" type="text/javascript"></script>
    <script src="../vendor/plugins/ng-file-upload-shim/ng-file-upload-shim.js"></script>
    <script src="../vendor/plugins/ng-file-upload/ng-file-upload.js"></script>
    <script src="../vendor/plugins/ng-tags-input/ng-tags-input.min.js" type="text/javascript"></script>
    <script src="../vendor/plugins/ng-jcrop/ng-jcrop.js" type="text/javascript"></script>
    <script src='../vendor/plugins/ng-infinite-scroll/ng-infinite-scroll.js'></script>
    <script src='../vendor/plugins/ng-scroll-to/ng-scrollto.js'></script>
    <script src="../vendor/plugins/moment/min/moment.min.js"></script>
    <script src="../vendor/plugins/moment/locale/pt-br.js"></script>
    <script src="../vendor/plugins/iCheck/icheck.min.js" type="text/javascript"></script>

    <script src="../restrito/js/router.js"></script>

    <script src="../vendor/plugins/form-select2/select2.min.js" type="text/javascript"></script>
    <script src="../vendor/plugins/jquery-ui/jquery-ui.js" type="text/javascript"></script>

    <script src="../restrito/js/services/MainService.js"></script>
    <script src="../restrito/js/directives/MainDirective.js"></script>
    <script src="../restrito/js/filters/MainFilters.js"></script>

    <script src="../restrito/js/controllers/ConsultaRestritoCtrl.js"></script>  
    <script src="../restrito/js/controllers/DisponibilidadeRestritoCtrl.js"></script>  
    <script src="../restrito/js/controllers/ErrorRestritoCtrl.js"></script>  
    <script src="../restrito/js/controllers/HorarioRestritoCtrl.js"></script>  
    <script src="../restrito/js/controllers/IndexRestritoCtrl.js"></script>  
    <script src="../restrito/js/controllers/PacienteRestritoCtrl.js"></script>  
    <script src="../restrito/js/controllers/ProfissionalCategoriaRestritoCtrl.js"></script>  
    <script src="../restrito/js/controllers/ProfissionalLocaisRestritoCtrl.js"></script>  
    <script src="../restrito/js/controllers/ProfissionalPerfilRestritoCtrl.js"></script>  
    <script src="../restrito/js/controllers/ProfissionalRestritoCtrl.js"></script>  
  </body>
</html>