<div class="header-bottom clearfix">
    <div class="breadcrumbs container">
        <nav class="pull-left row">
            <div class="page-header"><h1>Disponibilidades</h1> :: {{nomePagina}}</div>
        </nav>
        <div class="header social row hidden-xs">
            <div class="custom-google-button">
                <a class="google-button fa fa-lg fa-arrow-left" ng-href="#/disponibilidade" style="width:130px;">
                    <span class="badge pull-right" style="width:70%;">
                        <b>VOLTAR</b>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container doctor_controls" id="formAgendamento">
    <div class="row">
        <div class="tab-content horizontal">
            <form ng-submit="salva()" role="form" name="form" class="form-horizontal row-border" autocomplete="off">
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group" style="padding: 8px 12px;">
                                <label for="titulo" class="control-label">Data</label>
                                <input datepicker type="text" class="form-control" id="data" name="data" required ng-model="registro.data" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" style="padding: 8px 12px;">
                                <label for="nome" class="control-label">Tipo</label>
                                <select id="tipo" class="form-control" ng-model="registro.tipo" required ng-options="tipo.id as tipo.titulo for tipo in tipos">
                                    <option value="">== Selecione ==</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group" style="padding: 8px 12px;">
                                <label for="nome" class="col-sm-2 control-label">Categorias</label>
                                <div class="col-sm-8">
                                    <select id="categoria" class="form-control" ng-model="registro.categoria" required ng-options="categoria as categoria.titulo for categoria in categorias track by categoria._id">
                                        <option value="">== Selecione ==</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" style="padding: 8px 12px;">
                                <label for="especialidade" class="col-sm-2 control-label">Especialidades</label>
                                <div class="col-sm-8">
                                    <tags-input ng-model="registro.categoria.especialidade" display-property="titulo"></tags-input>
                                    <p class="help-block">Separe as especialidades por vírgulas (,).</p>
                                </div>
                            </div>
                            <div class="form-group" style="padding: 8px 12px;">
                                <label for="habilidades" class="col-sm-2 control-label">Horários</label>
                                <div class="col-sm-8">
                                    <tags-input ng-model="registro.horario" display-property="hora">
                                        <auto-complete source="loadTags($query)"></auto-complete>
                                    </tags-input>
                                    <p class="help-block">Separe os horários por vírgulas (,).</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group" style="padding: 8px 12px 8px 13px;">
                                <button id="botaoSalvar" type="submit" class="btn btn-inverse btn-block" ng-disabled="form.$invalid">
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>