<div class="header-bottom clearfix">
    <div class="breadcrumbs container">
        <nav class="pull-left row">
            <div class="page-header"><h1>Disponibilidades ({{totalItems}})</h1></div>
        </nav>
        <div class="header social row hidden-xs">
            <div class="custom-google-button">
                <a class="google-button fa fa-lg fa-plus" ng-href="#/disponibilidade/add" style="width:130px;">
                    <span class="badge pull-right" style="width:70%;">
                        <b>ADICIONAR</b>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container doctor_controls" id="formAgendamento">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-sky">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>DATA</th>
                                    <th class="text-center">CATEGORIA</th>
                                    <th class="text-center">ESPECIALIDADE</th>
                                    <th class="text-center">DISPONIBILIDADE</th>
                                    <th class="text-right col-md-2">AÇÃO</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="registro in registros">
                                    <td><a ng-href="#/disponibilidade/{{registro._id}}">{{registro.data|toShortDateBrazil}}</a></td>
                                    <td class="text-center">{{registro.categoria._id.titulo}}</td>
                                    <td class="text-center">{{registro.categoria.especialidade|toStrFromObj}}</td>
                                    <td class="text-center">{{registro.horario|toDisponibilidadeHour}}</td>
                                    <td>
                                        <div class="pull-right">
                                            <a ng-href="#/disponibilidade/{{registro._id}}" class="btn btn-sm btn-info" title="Editar" style="height:28px; line-height:0px;">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a ng-click="remove(registro)" class="btn btn-sm btn-danger" style="height:28px; line-height:0px;">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-hide="registros.length">
                                    <td colspan="5" class="text-center">
                                        Não há ainda uma agenda cadastrada
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <uib-pagination ng-show="(totalItems > pageSize)" class="pull-right" total-items="totalItems" max-size="maxSize" ng-model="currentPage" ng-change="pageChanged()" items-per-page="pageSize"></uib-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>